.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#0A2A0A;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

/* CSS for ComparePage @Aurthor Pratyush */

/* My Changes or Override to some css */


.widthf{
width: 95%
}

.colfixw1{
 width: 8%;
}

.colfixw2{
 width: 23%;
}

.closefix{
left:92%;
 position:relative;
 width:4%;
 border-radius: 25px;
 padding:0px 3px 0px 3px;
}



.closewrapper{
 margin:1px 5px 0px 0px;
}

/*.closewrapper:hover{
 background: #8904B1;
}*/
.closefix a i {
	margin-left:7px;
	color:#000;
	font-size:18px;
}

.closefix:hover {
	
	color:#3b5998;
	cursor: pointer;
	
	
	-ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
	
}

.hoverclosewrapper{
 margin:0px 0px 5px 5px;
}

.namealign{
 text-align: center;
 }
.hide0 {
display: none;
}

.hide1{
display: none;
}

.hide2{
display: none;
}

.hide3{
display: none;
}

.hide4{
display: none;
}

.rate{
font-weight: bold;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

datalist, datalist:focus {
	border-radius: 3px;
	box-shadow:  0px 0px 4px rgba(0, 0, 0, 0.27);
	outline:none;
	height: 34px;
	line-height:34px;
	padding:6px;
	font-size:14px;
}
datalist.fullwidth, datalist.fullwidth, datalist.fullwidth {
	width:99%;
}

.datalistc{
	
	border-radius: 3px;
	box-shadow:  0px 0px 4px rgba(0, 0, 0, 0.27);
	outline:none;
	height: 34px;
	line-height:34px;
	padding:6px;
	font-size:14px;
}

	 
 .ui-autocomplete {
	 cursor:pointer; 
    max-height:150px; 
    overflow-y:scroll;
    position: fixed;
	top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
	
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
	
}

.ui-state-hover, .ui-state-active {
	
    color: #ffffff;
    text-decoration: none;
    background-color: #DDDDDD;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.ui-autocomplete > div{
position:relative;
 margin: 10% auto; 
}


/*CSS for Pros and cons DropDown*/



.dropdownPC{
    display: block;
    display: inline-block;
    margin: 0px 3px;
    position: relative;
}

/* ===[ For demonstration ]=== */

.dropdownPC{ margin-top: 0px }

/* ===[ End demonstration ]=== */

.dropdownPC .dropdown_button {
    cursor: pointer;
    width: auto;
    display: inline-block;
    padding: 4px 0px;
    border: 1px solid #AAA;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
    color: #717780;
    line-height: 16px;
    text-decoration: none !important;
    background: white;
}

.dropdownPC input[type="checkbox"]:checked +  .dropdown_button {
    border: 1px solid #3B5998;
    color: white;
    background: #6D84B4;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
    border-bottom-color: #6D84B4;
}

.dropdownPC input[type="checkbox"] + .dropdown_button .arrow {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 5px solid #6B7FA7;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.dropdownPC input[type="checkbox"]:checked + .dropdown_button .arrow { border-color: white transparent transparent transparent }

.dropdownPC .dropdown_content {
    position: absolute;
    border: 1px solid #777;
    padding: 0px;
    background: white;
    margin: 0;
    display: none;
}

.dropdownPC  .dropdown_content li {
    list-style: none;
    margin-left: 0px;
    line-height: 16px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    margin-top: 2px;
    margin-bottom: 2px;
}

.dropdownPC .dropdown_content li:hover {
    border-top-color: #3B5998;
    border-bottom-color: #3B5998;
    background: #6D84B4;
}

.dropdownPC .dropdown_content li a {
    display: block;
    padding: 2px 7px;
    padding-right: 15px;
    color: black;
    text-decoration: none !important;
    white-space: nowrap;
}

.dropdownPC .dropdown_content li:hover a {
    color: white;
    text-decoration: none !important;
}

.dropdownPC input[type="checkbox"]:checked ~ .dropdown_content { display: block }

.dropdownPC input[type="checkbox"] { display: none }

/*CSS for Pros and cons DropDown*/

/*css for Listing and HomePage*/
#choose_brand{
 display:none;
}

.display_none{
display:none;
position:relative;
right: 1000px;


}

#choose_brand{
margin:0px 0px 15px 0px;
position:relative;
right:1000px;

}

.backgrey{
background:#fafafa;
}

.0_margin{
margin:0px 0px 0px 0px;
}

.font_table_fix{
 font-weight: 100;
 font-size:12px;
 }
 
.font_listing_fix{
 font-weight:bold;
 font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size:20px;
 color:black;

}

.listing-height{
 height:200px;
 overflow-y:scroll;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  0px; }
.right-addon input { padding-right: 0px; }

.comp-prod-img{
  width: 30%;
  height: 80px;
  text-align: center;
  float:left;
}

.comp-prod-img img{
	width:60px;
}
.comp-prod{

}

.comp-prod-name span{
 position:relative;
 top:25px;
}


.comp-prod-name{
	text-align:center;
	width:70%;
	height:80px;
	overflow:hidden;
	float:left;
	display: block;
  
}

.comapre-vs{
 
  text-align:center;
  margin-top:3px;
  
}

.comp-prod-foot{
text-align:center;
}
/*CSS for listing and homepage*/