{% extends "header.html" %}
    {% block content %}
<!--CONTENT-->
  <section id="content">
    <div class="container top">
      <div class="row">
        <div class="span12">
          <div class="aligncenter">
            <div class="font-404">404</div>
            <br>
            <br>
            <h2 class="noupper"><strong>Sorry!</strong></h2>
            <h4 class="noupper"><strong> The page you requested was not found, and we have a fine guess why.</strong></h4>
            <p>&gt;   If you typed the URL directly, please make sure the spelling is correct.<br>
              &gt;   If you clicked on a link to get here, the link is outdated.</p>
            <p><strong>What can you do?</strong><br>
              Have no fear, help is near! There are many ways you can get back on track with BazaarFunda.</p>
            <br>
            <div><a href="#" class="button btn-mini">Go Back</a>&nbsp;&nbsp;&nbsp;<a href="/" class="button btn-mini">BazaarFunda Home</a>&nbsp;&nbsp;&nbsp;<a href="/compare" class="button btn-mini">Compare Phones</a></div>
            <br>
            <br>
            <div><img src="img/icon_coffee.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}