    {% extends "header.html" %}
    {% block content %}
    <!-- Google ADSense -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- bazaarfunda -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5277836163297591"
     data-ad-slot="6166562667"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- Google ADSense -->
    <!--CONTENT-->
    <section id="content">
      <div class="container top">
        <div class="row">
          <div class="span12">

              <!--<div class="cleancode">
                <p>Vestibulum justo. Nulla mauris ipsum, convallis ut, vestibulum eu, tincidunt vel, nisi. Curabitur molestie euismod erat. Proin eros odio, mattis rutrum. et, egestas vitae, magna. Integer semper, velit ut interNam lectus nulla, bibendum pretium, dictum a, mattis nec, dolor. Nullam id justo sed diam aliquam tincidunt. Duis sollicitudin, dui ac commodo iaculis, mi risus sagittis odio, vel ultrices enim sem ut pede. Aenean quam. Nulla neque purus, ullamcorper nec, eleifend at, fermentum ut, turpis. Nullam id justo sed labore diam diam aliquam nonumy. Integer ligula magna, dictum et, pulvinar non, ultricies ac, nibh. Vivamus euismod nulla vel nunc. Fusce tincidunt, justo congue egestas molestie, tortor tortor blandit erat, et scelerisque metus metus at ipsum.</p>
              </div> -->


              <div class="product-listing product-grid">
                <div class="row big_with_description isotope-outer">
                  {%for i in range(4)%}

                  {%if phoneDetails[i] is defined %}
                  <!-- One Product Block Starts-->
                  {%set counter = 0 %}
                  {%set lowestPrice = [1000000] %}
                  {% set lowestWebsite = ["Out of Stock"] %}
                  {% set lowestWebsiteURL = ["#"] %}
                  {% for price in phoneDetails[i]["Prices"] %}
                  {%set counter = counter + 1%}
                  {%if price["price"]|int < lowestPrice[0] %}
                  {%if price["stock status"]|int > 0 %}
                  {% set _ = lowestPrice.append(price["price"]) %}
                  {% set _ = lowestWebsite.append(price["website"]|string) %}
                  {% set _ = lowestWebsiteURL.append( price["productUrl"]|string) %}
                  {% set _ = lowestPrice.pop(0) %}
                  {% set _ = lowestWebsite.pop(0) %}
                  {% set _ = lowestWebsiteURL.pop(0) %}                    
                  {%endif%}
                  {%endif%}
                  {%endfor%}
                    <div class="span3 product" style = "border-radius: 0px">
                      <div class="phone{{i + 1}} closefix closewrapper" onclick="click1(this, '{{phoneDetails[i]._id}}')"><i class="icon-cancel"></i></div>

                      <div class="product-image-wrapper" style="height: 201px" ><a href='../pdp/{{phoneDetails[i]["_id"]}}'><img class="phone{{i + 1}}" src="static/img/ImageScrappers/{{phoneDetails[i]["Brand"]}} {{phoneDetails[i]["Model Name"]}}.jpg" style= "height: 100%;" alt="">
                      </a><a data-toggle="modal" href="#myModal" onclick="location.href='#';"><img class="hide{{i + 1}}" src="static/img/addnew1.png" alt=""></a> </div>
                      <div class="phone{{i+ 1}} wrapper-hover">
                       <div class="product-name namealign" style="max-height:43px"><a href='../pdp/{{phoneDetails[i]["_id"]}}'><h4 style="color:#383838;">{{phoneDetails[i]["Brand"]}}       {{phoneDetails[i]["Model Name"]}}</h4></a></div>
                       <div class="wrapper"><span class="sort-rating hidden">4</span>
                        <!-- <div class="product-tocart"> <a href="shopping-cart.html"><i class="icon-basket" title="Compare Prices"></i></a> </div> -->

                        {%if lowestWebsite[0] == "Out of Stock"  %}
                        <div class="product-price"><div style="color: #B40404"><h4 class="aligncenter" >{{"Price Not Available"}}</h4></div></span></a></div>
                        {% else %}
                        <div class="product-price aligncenter" ><a href="{{lowestWebsiteURL[0]}}" class="aligncenter">Lowest Price&nbsp;₹&nbsp{{lowestPrice[0]}}<!-- <span class="sort-price"></span> --></a> &nbsp&nbsp</div>
                        {%endif%}

                        <div class="rating-listing rating "> <strong><a><i class="icon-star-1"></i></a><a><i class="icon-star-1"></i></a><a><i class="icon-star-1"></i></a><a><i class="icon-star-1"></i></a></strong><a><i class="icon-star-empty"></i></a> </div>
                      </div>
                    </div>
                    <div class="phone{{i+ 1}} wrapper-hover aligncenter">
                      <button onclick="location.href='#';" class="btn-mini border aligncenter product-name" style="padding-left: 10%;" data-toggle="modal" onclick="location.href='#';" href="#compare_price{{i}}">Compare Prices</button>
                    </div>
                    
                  </div>
                 


                <!--This is the hover element -->
                <div class="preview hidden-tablet hidden-phone">
                  <div class="wrapper">
                    <div class="col-2">
                      <div class="phone{{i}} closefix hoverclosewrapper" onclick="click1(this)"><i class="icon-cancel"></i></div>
                      <div class="big_image"><a href='../pdp/{{phoneDetails[i]["_id"]}}'><img class="phone{{i}}" src="static/img/product_page_img_big1.jpg"  alt="" /></a><a data-toggle="modal" href="#myModal"><img class="hide{{i}}" src="static/img/addnew1.png" alt="" style="display: inline;"></a></div> 
                      <div class="phone{{i}} wrapper-hover">
                       <div class="product-name namealign"><a href="product.html">XIAOMI</a></div>
                       <div class="wrapper"><span class="sort-rating hidden">2</span>
                        <!-- <div class="product-tocart"> <a href="shopping-cart.html"><i class="icon-basket" title="Compare Prices"></i></a> </div> -->
                        <div class="product-price"><a href="https://www.flipkart.com/">Lowest Price&nbsp;₹<span class="sort-price"><b>8000.00</b></span></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <!--This is the hover element --> 
              <!--OneProduct Block Ends-->

              {%else%}

              <!-- One Product Block Starts-->
              <div class="span3 product" style = "border-radius: 0px">
                <div class="product-image-wrapper "><a href="product.html"></a>
                  <a data-toggle="modal" href="#myModal" onclick="location.href='#';"><img class="hide{{i+1}}" src="static/img/addnew1.png" alt="" style="display: inline;"></a> </div>
                </div>
                <!--OneProduct Block Ends-->

                <!--I dont know what this div does -->
                <div class="preview hidden-tablet hidden-phone" style="display: none;">
                  <div class="wrapper">
                    <div class="col-2">
                      <div class="phone{{i}} closefix hoverclosewrapper" onclick="click1(this)"><i class="icon-cancel"></i></div>
                      <div class="big_image"><a href="product.html"><img class="phone{{i}}" src="static/img/product_page_img_big1.jpg"  alt="" /></a><a href="#myModal" onclick="location.href='#';"><img class="hide{{i}}" src="static/img/addnew1.png" alt=""></a></div> 
                      <div class="phone{{i}} wrapper-hover">
                       <div class="product-name namealign"><a href="product.html">XIAOMI</a></div>
                       <div class="wrapper"><span class="sort-rating hidden">2</span>
                        <!-- <div class="product-tocart"> <a href="shopping-cart.html"><i class="icon-basket" title = "Compare Prices"></i></a> </div> -->
                        <div class="product-price"><a href="https://www.flipkart.com/">Lowest Price&nbsp;₹<span class="sort-price"><b>8000.00</b></span></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <!--I dont know what this div does --> 


              {%endif%}
              {%endfor%}  

            </div>
          </div>
          <!--tab-->
          <!--what the fuck-->
          <h4>Phones are recommended based on the text analysis of millions of reviews across the web because all 13 MP cameras are not the same!!</h4>


          <div class="horizontalTab">
            <ul class="nav-tabs contentTab">
              <li ><a href="#SpecificationTab">Specification</a></li>
              <li class="active"><a href="#UserExperienceTab">User Experience</a></li>
              <li><a href="#ProsConsTab">Pros and Cons</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane " id="SpecificationTab">
               <!--inside_tab-->
               {%for specs in sampleProductDetail["specification"]%}
                  {%for key, value in specs.iteritems()%}
                   <table class="table table-bordered" style="background:#FFEFE7;">
                     <thead>
                      <tr>
                        <th scope="col" class="aligncenter">{% filter upper %} {{key}} {% endfilter %}</th>
                      </tr>
                    </thead>
                  </table>
                  <table class="table table-bordered" style="background:#FFFFFF;">
                    <colgroup>
                    <col class="colfixw1">
                    <col class="colfixw2">
                    <col class="colfixw2">
                    <col class="colfixw2">
                    <col class="colfixw2">
                  </colgroup>
                  {% for kFet, vFet in value.iteritems() %}
                  
                  <tbody>
                    <tr>
                      <th scope="col" class="aligncenter" style="color:#000000">{% filter upper %} {{kFet}} {% endfilter %}</th>
                      {%for i in range(4)%}

                        {%if phoneDetails[i] is defined %}
                            {%for phoneSpecs in phoneDetails[i]["specification"]%}
                                {%for pKey in phoneSpecs%}
                                  {%if pKey == key%}
                                      {%if phoneSpecs[key][kFet] is defined%}
                                        <td scope="col" class="aligncenter"><div class="phone{{i+1}}">{{phoneSpecs[key][kFet]}}</div></td>
                                        {%else%}
                                        <td scope="col" class="aligncenter"><div class="phone{{i+1}}" style = "color:red">{{NA}}</div></td>
                                      {%endif%}
                                  {%endif%}
                                {%endfor%}
                            {%endfor%}
                        {%else%}

                            <td scope="col" class="aligncenter"><div class="phone{{i + 1}}"></div></td>
                        {%endif%}
                      {%endfor%}
                    </tr>
                    </tbody>
                  {%endfor%}
                </table>
          {%endfor%}
        {%endfor%}
      </div>
      <div class="tab-pane active" id="UserExperienceTab">
        <!--inside_table-->

        <!--<h4 class="upper">BORDRED TABLE</h4>-->
        <table class="table table-bordered" style="background:#FFFFFF;">
          <colgroup>
          <col class="colfixw1">
          <col class="colfixw2">
          <col class="colfixw2">
          <col class="colfixw2">
          <col class="colfixw2">
        </colgroup>
        {%for keywords in sampleProductDetail["Keywords"]%}

        <tbody >
          <tr>
            <th class="aligncenter" style="color:#000000">{% filter upper %}{{keywords["Keyword"]}}{%endfilter%}</th>
            {%for i in range(4)%}
                {%set keywordFlag = []%}
                {%if phoneDetails[i] is defined %}
                   
                  {%for pKey in phoneDetails[i]["Keywords"]%}
                        {%if pKey["Keyword"] == keywords["Keyword"]%}
                            {%set _ = keywordFlag.append(1)%}
                            <td class="aligncenter "><div class="phone{{i+1}} rate">
                              <div class="skillbar clearfix " data-percent={{pKey["Rating"]*20|round|int}}%>
                                <div class="skillbar-title" style="background: #3b5998; width:20%"><span></span></div> 
                                <div class="skillbar-bar" style="background: #8b9dc3;"></div>
                                <div class="skill-bar-percent">{{pKey["Rating"]*20|round(1, 'floor') }}% </div>
                              </div>
                            </div></td>
                        {%endif%}
                  {%endfor%}
                  {%if keywordFlag[0] != 1%}
                     <td class="aligncenter" ><div class="phone{{i+1}} rate"></div></td>
                  {%endif%}
                {%else%}
                    <td class="aligncenter"><div class="phone{{i+1}} rate" style="color:red"></div></td>
                {%endif%}
            {%endfor%}
              
            
          </tr>
        </tbody>
        {%endfor%} 

      </table>
    </div>
    <div class="tab-pane" id="ProsConsTab">
     <!--inside_table-->
    <!--<h4 class="upper">BORDRED TABLE</h4>-->
        <table class="table table-bordered" style="background:#FFFFFF;">
          <colgroup>
          <col class="colfixw1">
          <col class="colfixw2">
          <col class="colfixw2">
          <col class="colfixw2">
          <col class="colfixw2">
        </colgroup>
        {%for keywords in sampleProductDetail["Reviews"]%}

        <tbody>
          <tr>
            <th class="aligncenter" style="color:#000000; background:#FFEFE7;">{% filter upper %}{{keywords["About"]}}{%endfilter%}</th>
            {%for i in range(4)%}
                {%set keywordFlag = []%}
                {%if phoneDetails[i] is defined %}
                   
                  {%for pKey in phoneDetails[i]["Reviews"]%}
                        {%if pKey["About"] == keywords["About"]%}
                            {%set _ = keywordFlag.append(1)%}
                            <td >
                              <div class="dropdown aligncenter phone{{i+1}}" style="width:100%">
                                {% if pKey["Positive"]|length != 0 %}
                                <h4 style="margin:10px">Pros</h4>
                                <ul class="dropdown_content phone{{i+1}}" style="z-index: 8; width:100%;">
                                              {%for pros in pKey["Positive"]%}
                                                <li class = "phone{{i+1}}" style="width:100%;font-size:130%">{{pros["Review"]}} ({{pros["Users"]}})</li>
                                              {%endfor%}
                                </ul>
                                  <!-- <div class="dropdownPC phone{{i + 1}}" id="dropdownPC" style="width:80%">
                                          <input type="checkbox" id="dropPros{{pKey["About"]}}{{i}}" />
                                          <label for="dropPros{{pKey["About"]}}{{i}}" class="dropdown_button" style="width:100%">Pros</label>
                                          
                                          <ul class="dropdown_content" style="z-index: 8; width:100%;">
                                              {%for pros in pKey["Positive"]%}
                                                <li style="width:100%">{{pros["Review"]}} ({{pros["Users"]}})</li>
                                              {%endfor%}
                                          </ul>
                                          
                                          
                                      </div> -->
                                    {%endif%}
                                    {% if pKey["Negative"]|length != 0 %}
                                    <h4 style="margin:10px">Cons</h4>
                                    <ul class="dropdown_content phone{{i+1}}" style="z-index: 8; width:100%;">
                                              {%for pros in pKey["Negative"]%}
                                                <li class = "phone{{i+1}}" style="width:100%; font-size:130%">{{pros["Review"]}} ({{pros["Users"]}})</li>
                                              {%endfor%}
                                    </ul>
                                  <!-- <div class="dropdownPC phone{{i + 1}}" id="dropdownPC" style="width:80%">
                                          <input type="checkbox" id="dropCons{{pKey["About"]}}{{i}}" />
                                          <label for="dropCons{{pKey["About"]}}{{i}}" class="dropdown_button" style="width:100%">Cons</label>
                                          <ul class="dropdown_content" style="z-index: 8; width:100%;">
                                              {%for pros in pKey["Negative"]%}
                                                <li style="width:100%">{{pros["Review"]}} ({{pros["Users"]}})</li>
                                              {%endfor%}
                                          </ul>
                                          
                                          
                                      </div> -->
                                      {%endif%}
                                  
                                </div>
                              
                              
                            </td>
                        {%endif%}
                  {%endfor%}
                  {%if keywordFlag[0] != 1%}
                     <td class="aligncenter" ><div class="phone{{i+1}} rate"></div></td>
                  {%endif%}
                {%else%}
                    <td class="aligncenter" ><div class="phone{{i+1}} rate" style="color:red"></div></td>
                {%endif%}
            {%endfor%}
              
            
          </tr>
        </tbody>
        {%endfor%} 

      </table>
   
    
    </div>
    </div>
    </div>
    <!--tabends-->
    </div>
    <!--Left Row-->


    </div>
    </div>
    </section>
    <div id="push"></div>
    </div>

    <div class="modal fade" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title"><center>ADD PHONE TO COMPARE</center></h4>
                </div>
                <div class="modal-body">
          <h4>BRAND</h4>
          <div class="select_wrapper fullwidth">
            <input name="thebrand" id="thebrand" type="text" class="widthf" value="Select Brand..." onload="this.value != 'Select Brand...';"  onblur="if (this.value == '') {this.value = 'Select Brand...';} else if( this.value != '' && this.value != 'Select Brand...') { loadModelForBrand(this.value);} " onfocus="if(this.value == 'Select Brand...') {this.value = '';}"  />
          </div>
              
          <h4>MODEL</h4>
          <div class="select_wrapper fullwidth">
            <input name="themodel" id="themodel" type="text" class="widthf" value="Select Model..." onblur="if (this.value == '') {this.value = 'Select Model...';}" onfocus="this.value = '';"/>
          </div>
            
          
                  
                </div>
                <div class="modal-footer" > <a href="#" data-dismiss="modal" class="btn" id="choosePhone">CHOOSE</a> </div>
              </div>
            </div>
          </div>

      {%for i in range(4)%}}
      {%if phoneDetails[i] is defined %}
    <!--Compare prices Pop Up -->
     <div class="modal fade" id="compare_price{{i}}">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title" style="color:#AAAAAA"><center>Compare Prices for {{phoneDetails[i]['Brand']}} {{phoneDetails[i]['Model Name']}}</center></h4>
                </div>
                <div class="modal-body">
      <table class="table">
      <colgroup>
      <col class="colfixw25">
      <col class="colfixw25">
      <col class="colfixw20">
      <col class="colfixw10">
      <col class="colfixw20">
      </colgroup>
            <thead>
              <tr>
                <!--<td scope="col" class="aligncenter backgrey font_table_fix ">Product Name </td>-->
                <td scope="col" class="aligncenter backgrey font_table_fix">Seller</td>
                <td scope="col" class="aligncenter backgrey font_table_fix">Availability</td>
                <td scope="col" class="aligncenter backgrey font_table_fix">Price</td>
        <td scope="col" class="aligncenter backgrey font_table_fix">Buy Option</td>
              </tr>
            </thead>
            <tbody>
                {% for price in phoneDetails[i]["Prices"] %}
                {%if price["stock status"]|int !=  0%}
                    <tr>
                        <!--<td class="aligncenter 0_margin"><h5>Xiaomi</td>-->
                        <td class="aligncenter 0_margin"><img src="static/img/{{price['website']}}.jpg"  alt={{price['website']}} height="25px" width="100px"> </td>
                        {%if price["stock status"]|int ==  1%}
                        <td class="aligncenter 0_margin"><h5>Yes</h5></td>
                        {%else%}
                        <td class="aligncenter 0_margin"><h5>No</h5></td>
                        {%endif%}
                        <td class="aligncenter 0_margin"><h5>{{price["price"]}}</h5></td>
                        <td class="aligncenter 0_margin"><a href={{price['productUrl']}}  class="btn btn-mini">BUY</a></td>
                    </tr>
                    {%endif%}
                {%endfor%}


            </tbody>
          </table>
        </div>

              </div>
            </div>
          </div>

          <!--Compare prices Pop Up -->
          {%endif%}
          {%endfor%}

    {% endblock %}
