    {% extends "header.html" %}
    {% block content %}


  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="bannercontainer" >
          <div class="banner" >
            <ul>

              <!-- SLIDE 1 -->
              <!-- <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-link="http://www.google.de" data-target="_blank" data-slideindex="back" data-thumb="images/thumbs/thumb1.jpg"> 
                
                <img src="img/slides/slider_1.jpg"  alt=""> 
                
                
                <div class="caption  sft"
                       data-x="147"
                       data-y="31"
                       data-speed="300"
                       data-start="800"
                       data-captionhidden="on"
                       data-easing="easeOutExpo"  ><img src="static/img/slider1_text1.png" alt="text 1"></div>
                <div class="caption  sft"
                       data-x="147"
                       data-y="64"
                       data-speed="300"
                       data-start="1100"
                       data-captionhidden="on"
                       data-easing="easeOutExpo"  ><img src="static/img/slider1_text3.png" alt="text 2"></div>
                <div class="caption  randomrotate"
                       data-x="264"
                       data-y="64"
                       data-speed="300"
                       data-start="1500"
                       data-captionhidden="on"
                       data-easing="easeOutExpo"  ><img src="static/img/slider1_text2.png" alt="text 3"></div>
                <div class="caption randomrotate"
                       data-x="335"
                       data-y="292"
                       data-speed="600"
                       data-start="1100"
                       data-easing="easeOutExpo"  ><img src="static/img/p1.png" alt="Image 2"></div>
                <div class="caption randomrotate"
                       data-x="296"
                       data-y="316"
                       data-speed="600"
                       data-start="1200"
                       data-easing="easeOutExpo"  ><img src="static/img/p2.png" alt="Image 3"></div>
                <div class="caption randomrotate"
                       data-x="143"
                       data-y="250"
                       data-speed="600"
                       data-start="1300"
                       data-easing="easeOutExpo"  ><img src="static/img/p3.png" alt="Image 4"></div>
                <div class="caption randomrotate"
                       data-x="224"
                       data-y="200"
                       data-speed="300"
                       data-start="1400"
                       data-easing="easeOutExpo"  ><img src="static/img/p4.png" alt="Image 5"></div>
                <div class="caption randomrotate"
                       data-x="195"
                       data-y="300"
                       data-speed="600"
                       data-start="1500"
                       data-easing="easeOutExpo"  ><img src="static/img/p5.png" alt="Image 6"></div>
                <div class="caption randomrotate"
                       data-x="264"
                       data-y="153"
                       data-speed="300"
                       data-start="1600"
                       data-easing="easeOutExpo"  ><img src="static/img/p6.png" alt="Image 7"></div>
                <div class="caption randomrotate"
                       data-x="370"
                       data-y="190"
                       data-speed="300"
                       data-start="1700"
                       data-easing="easeOutExpo"  ><img src="static/img/p7.png" alt="Image 8"></div>
                <div class="caption randomrotate"
                       data-x="413"
                       data-y="245"
                       data-speed="300"
                       data-start="1800"
                       data-easing="easeOutExpo"  ><img src="static/img/p8.png" alt="Image 9"></div>
                <div class="caption randomrotate"
                       data-x="435"
                       data-y="165"
                       data-speed="300"
                       data-start="1900"
                       data-easing="easeOutExpo"  ><img src="static/img/p9.png" alt="Image 10"></div>
                <div class="caption randomrotate"
                       data-x="382"
                       data-y="245"
                       data-speed="300"
                       data-start="2000"
                       data-easing="easeOutExpo"  ><img src="static/img/p10.png" alt="Image 11"></div>
                <div class="caption randomrotate"
                       data-x="280"
                       data-y="230"
                       data-speed="300"
                       data-start="2100"
                       data-easing="easeOutExpo"  ><img src="static/img/p11.png" alt="Image 12"></div>
              </li> -->
              
              
              <!-- SLIDE 5 -->
              <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300" > <img src="static/img/BazaarFundaBanner.jpg"  alt="" style = "width: 100%; height: 100%; opacity: 1;">
                <div class="caption lfl"
                     data-x="0"
                     data-y="0"
                     data-speed="1000"
                     data-start="200"
                     data-easing="easeOutBack" ><img src="static/img/iphone1.png" alt="Image 0"></div>
                <div class="caption lfr"
                     data-x="0"
                     data-y="0"
                     data-speed="1000"
                     data-start="600"
                     data-easing="easeOutBack"
                     style = "opacity:1; visibility : visible;"
                     ><img src="static/img/iphone2.png" alt="Image 0"></div>
                <div class="caption lfr"
                     data-x="580"
                     data-y="180"
                     data-speed="300"
                     data-start="1800"
                     data-easing="easeOutExpo"  
                     style = "opacity:1; visibility : visible;"><img src="static/img/slider4_text1.png" alt="Image 1"></div>
                <div class="caption lfl"
                     data-x="580"
                     data-y="230"
                     data-speed="500"
                     data-start="2200"
                     data-easing="easeOutExpo"  
                     style = "opacity:1; visibility : visible;"><img src="static/img/slider4_text2.png" alt="Image 2"></div>
                <div class="caption lfr"
                     data-x="580"
                     data-y="310"
                     data-speed="500"
                     data-start="2400"
                     data-easing="easeInBack"
                     data-end="5700" 
                                         data-endspeed="300" 
                                         data-endeasing="easeInBack"  
                                         vstyle = "opacity:1; visibility : visible;"
                                         ><img src="static/img/slider4_text3.png" alt="Image 3"></div>
                <div class="caption lfr"
                     data-x="580"
                     data-y="310"
                     data-speed="500"
                     data-start="5800"
                     data-easing="easeInBack"  ><img src="" ></div>
              </li>
              
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--CONTENT-->
  <section id="content">
    <div class="container">
	
	
      <h3 class="padding">Compare The Bests</h3>
      <div class="carousel es-carousel-wrapper style0">
        <div class="es-carousel">
          <div class="row">
            <div class="product_outer carousel_items">
              <div class="span3 product carousel_item prod-hover">
                
			<div class="wrapper-hover">
				<div class="comp-prod onhover animate scale">
					<div class="comp-prod-img">
						<img src="/static/img/ImageScrappers/Samsung Galaxy S6 Edge (Black Sapphire; with 32 GB).jpg">
					</div>
					<div class="comp-prod-name">
						<a href="/pdp/557e55600c677c1bd4b1864a"><span><h5>Samsung Galaxy S6 Edge</h5></span></a>
					</div>
				</div>
				
				<div class="comapre-vs">
				<h4>VS</h4>
				</div>
				
				<div class="comp-prod onhover animate scale">
					<div class="comp-prod-img">
						<img src="/static/img/ImageScrappers/Motorola Google Nexus 6 (Midnight Blue; With 32 Gb).jpg">
					</div>
					<div class="comp-prod-name">
						<a href="/pdp/557e555f0c677c1bd4b17f15"><span><h5>Motorola Google Nexus 6</h5></span></a>
					</div>
				</div>
				<div class="comp-prod-foot">
				<a href="/compare?ids=557e55600c677c1bd4b1864a,557e555f0c677c1bd4b17f15" class="btn">compare</a>
				</div>
			</div> 
           </div>
		   
		    <div class="span3 product carousel_item prod-hover">
                
			<div class="wrapper-hover">
				<div class="comp-prod onhover animate scale">
					<div class="comp-prod-img">
						<img src="/static/img/ImageScrappers/Samsung Galaxy Note Edge Black.jpg">
					</div>
					<div class="comp-prod-name">
						<a href="/pdp/557e55600c677c1bd4b187d6"><span><h5>Samsung Galaxy Note Edge</h5></span></a>
					</div>
				</div>
				
				<div class="comapre-vs">
				<h4>VS</h4>
				</div>
				
				<div class="comp-prod onhover animate scale">
					<div class="comp-prod-img">
						<img src="/static/img/ImageScrappers/Apple iPhone 6 (Gold; with 128 GB).jpg">
					</div>
					<div class="comp-prod-name">
						<a href="/pdp/557e55610c677c1bd4b18d2b"><span><h5>Apple iPhone 6</h5></span></a>
					</div>
				</div>
				<div class="comp-prod-foot">
				<a href="/compare?ids=557e55600c677c1bd4b187d6,557e55610c677c1bd4b18d2b" class="btn">compare</a>
				</div>
			</div> 
           </div>
		   
		    <div class="span3 product carousel_item prod-hover">
                
			<div class="wrapper-hover">
				<div class="comp-prod onhover animate scale">
					<div class="comp-prod-img">
						<img src="static/img/ImageScrappers/Micromax Canvas Nitro A311 White.jpg">
					</div>
					<div class="comp-prod-name">
						<a href="/pdp/557e55600c677c1bd4b1866b"><span><h5>Micromax Canvas Nitro A311</h5></span></a>
					</div>
				</div>
				
				<div class="comapre-vs">
				<h4>VS</h4>
				</div>
				
				<div class="comp-prod onhover animate scale">
					<div class="comp-prod-img">
						<img src="/static/img/ImageScrappers/Motorola Moto E (2Nd Gen) 3G (White; With 8 Gb).jpg">
					</div>
					<div class="comp-prod-name">
						<a href="/pdp/557e55600c677c1bd4b186ce"><span><h5>Motorola Moto E (2Nd Gen)</h5></span></a>
					</div>
				</div>
				<div class="comp-prod-foot">
				<a href="/compare?ids=557e55600c677c1bd4b186ce,557e55600c677c1bd4b1866b" class="btn">compare</a>
				</div>
			</div> 
           </div>
		   
		    <div class="span3 product carousel_item prod-hover">
                
			<div class="wrapper-hover">
				<div class="comp-prod onhover animate scale">
					<div class="comp-prod-img">
						<img src="/static/img/ImageScrappers/Samsung Galaxy S4 GT-I9500 deep black.jpg">
					</div>
					<div class="comp-prod-name">
						<a href="/pdp/557e55610c677c1bd4b18d60"><span><h5>Samsung Galaxy S4</h5></span></a>
					</div>
				</div>
				
				<div class="comapre-vs">
				<h4>VS</h4>
				</div>
				
				<div class="comp-prod onhover animate scale">
					<div class="comp-prod-img">
						<img src="/static/img/ImageScrappers/LG Google Nexus 5 32 GB Red.jpg">
					</div>
					<div class="comp-prod-name">
						<a href="/pdp/557e55600c677c1bd4b183d8"><span><h5>LG Google Nexus 5</h5></span></a>
					</div>
				</div>
				<div class="comp-prod-foot">
				<a href="/compare?ids=557e55610c677c1bd4b18d60,557e55600c677c1bd4b183d8" class="btn">compare</a>
				</div>
			</div> 
           </div>
             
            
            
            </div> 
          </div>
        </div>
      </div> <!-- -->
	  <div class="line"></div>
	  <h3 class="padding">Most Popular Mobiles</h3>
      <div class="carousel es-carousel-wrapper style0">
        <div class="es-carousel">
          <div class="row">
            <div class="product_outer carousel_items">
              {%for i in range(allPhoneList|length)%}
              {%if allPhoneList[i] is defined %}
              <!--Compare Prices PoUp -->
              <div class="modal fade" id="compare_price{{i}}_all">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" style="color:#AAAAAA"><center>Compare Prices for {{allPhoneList[i]['Brand']}} {{allPhoneList[i]['Model Name']}}</center></h4>
                      </div>
                      <div class="modal-body">
            <table class="table">
            <colgroup>
            <col class="colfixw25">
            <col class="colfixw25">
            <col class="colfixw20">
            <col class="colfixw10">
            <col class="colfixw20">
            </colgroup>
                  <thead>
                    <tr>
                      <!--<td scope="col" class="aligncenter backgrey font_table_fix ">Product Name </td>-->
                      <td scope="col" class="aligncenter backgrey font_table_fix">Seller</td>
                      <td scope="col" class="aligncenter backgrey font_table_fix">Availability</td>
                      <td scope="col" class="aligncenter backgrey font_table_fix">Price</td>
              <td scope="col" class="aligncenter backgrey font_table_fix">Buy Option</td>
                    </tr>
                  </thead>
                  <tbody>
                      {% for price in allPhoneList[i]["Prices"] %}
                          <tr>
                              <!--<td class="aligncenter 0_margin"><h5>Xiaomi</td>-->
                              <td class="aligncenter 0_margin"><img src="static/img/{{price['website']}}.jpg"  alt={{price['website']}} height="25px" width="100px"> </td>
                              {%if price["stock status"]|int ==  1%}
                                <td class="aligncenter 0_margin"><h5>Yes</h5></td>
                                {%else%}
                                <td class="aligncenter 0_margin"><h5>No</h5></td>
                              {%endif%}
                              <td class="aligncenter 0_margin"><h5>{{price["price"]}}</h5></td>
                              <td class="aligncenter 0_margin"><a href={{price['productUrl']}}  class="btn btn-mini">BUY</a></td>
                          </tr>
                      {%endfor%}


                  </tbody>
                </table>
              </div>

                    </div>
                  </div>
          </div>
          {%endif%}

              <!--Compare Prices PoUp -->
            {%if allPhoneList[i] is defined %}
                  <!-- One Product Block Starts-->
                  {%set counter = 0 %}
                  {%set lowestPrice = [1000000] %}
                  {% set lowestWebsite = ["Out of Stock"] %}
                  {% set lowestWebsiteURL = ["#"] %}
                  {% for price in allPhoneList[i]["Prices"] %}
                  {%set counter = counter + 1%}
                  {%if price["price"]|int < lowestPrice[0] %}
                  {%if price["stock status"]|int > 0 %}
                  {% set _ = lowestPrice.append(price["price"]) %}
                  {% set _ = lowestWebsite.append(price["website"]|string) %}
                  {% set _ = lowestWebsiteURL.append( price["productUrl"]|string) %}
                  {% set _ = lowestPrice.pop(0) %}
                  {% set _ = lowestWebsite.pop(0) %}
                  {% set _ = lowestWebsiteURL.pop(0) %}
                  {%endif%}
                  {%endif%}
                  {%endfor%}
                  

              <div class="span3 product hover carousel_item" style= "border-radius:0px; box-shadow: 0 0 0">
                <div class="product-image-wrapper " style= "border-radius:0px; height: 201px"><a href='../pdp/{{allPhoneList[i]["_id"]}}'><img src="static/img/ImageScrappers/{{allPhoneList[i]["Brand"]}} {{allPhoneList[i]["Model Name"]}}.jpg" style="height:100%" alt=""><img src="static/img/product_page_img_big1.jpg" class="roll_over_img" alt=""></a> </div>
                <div class="wrapper-hover">
                  <div class="product-name aligncenter" style="height:33px"><a href='../pdp/{{allPhoneList[i]["_id"]}}'>{{allPhoneList[i]["Brand"]}} {{allPhoneList[i]["Model Name"]}}</a></div>
                  <div class="wrapper"><span class="sort-rating hidden">4</span>
                    <!--<div class="product-tocart"> <a href="shopping-cart.html"><i class="icon-basket"></i></a> </div>-->
                        <div class="product-price aligncenter" style = "padding-bottom:10px">
                            {%if lowestWebsite[0] == "Out of Stock"  %}
                            <a class="aligncenter"  href="#" style="color: #B40404">{{"Price Not Available"}}</a>
                            {% else %}
                            <a class="aligncenter"  href="{{lowestWebsiteURL[0]}}">Lowest Price&nbsp;₹&nbsp{{lowestPrice[0]}}</a>
                            {%endif%}
                        </div>
                    
                  </div>
                  <div class="skillbar clearfix " data-percent={{allScoreList[i]}}%>
                    <div class="skillbar-title" style="background: #3b5998; width:22%;"><span style="color: #FFFFFF">{{allScoreList[i]}}/100</span></div>
                    <div class="skillbar-bar" style="background: #8b9dc3;"></div>
                    <div class="skill-bar-percent"></div>
                  </div>
                    <div class="add-to-links">
                      <ul>
                        <li style = "padding-bottom:10px;"><a href="#compare_price{{i}}_all" class="small_icon_color" data-toggle="modal"><i class="icon-shop"></i></a><a class="small_icon_color" data-toggle="modal" onclick="location.href='#';" href="#compare_price{{i}}_all">Compare Prices</a></li>
                        <li> <a href="#" class="small_icon_color" onclick="addToCompareFromListing('{{allPhoneList[i]["_id"]}}');"><i class="icon-chart-bar"></i>Add to Compare</a> </li>
                      </ul>
                    </div>
                </div>
              </div>
          {%endif%}
          {%endfor%}

                <!--Product blockends here-->
            </div> 
          </div>
        </div>
      </div> <!-- -->
	  <div class="line"></div>
	  <h3 class="padding">Most Popular Battery Phones</h3>
       <div class="carousel es-carousel-wrapper style0">
        <div class="es-carousel">
          <div class="row">
            <div class="product_outer carousel_items">
              {%for i in range(batteryPhoneList|length)%}

              {%if batteryPhoneList[i] is defined %}
              <!--Compare Prices PoUp -->
              <div class="modal fade" id="compare_price{{i}}_battery">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" style="color:#AAAAAA"><center>Compare Prices for {{batteryPhoneList[i]['Brand']}} {{batteryPhoneList[i]['Model Name']}}</center></h4>
                      </div>
                      <div class="modal-body">
            <table class="table">
            <colgroup>
            <col class="colfixw25">
            <col class="colfixw25">
            <col class="colfixw20">
            <col class="colfixw10">
            <col class="colfixw20">
            </colgroup>
                  <thead>
                    <tr>
                      <!--<td scope="col" class="aligncenter backgrey font_table_fix ">Product Name </td>-->
                      <td scope="col" class="aligncenter backgrey font_table_fix">Seller</td>
                      <td scope="col" class="aligncenter backgrey font_table_fix">Availability</td>
                      <td scope="col" class="aligncenter backgrey font_table_fix">Price</td>
              <td scope="col" class="aligncenter backgrey font_table_fix">Buy Option</td>
                    </tr>
                  </thead>
                  <tbody>
                      {% for price in batteryPhoneList[i]["Prices"] %}
                          <tr>
                              <!--<td class="aligncenter 0_margin"><h5>Xiaomi</td>-->
                              <td class="aligncenter 0_margin"><img src="static/img/{{price['website']}}.jpg"  alt={{price['website']}} height="25px" width="100px"> </td>
                              {%if price["stock status"]|int ==  1%}
                                <td class="aligncenter 0_margin"><h5>Yes</h5></td>
                                {%else%}
                                <td class="aligncenter 0_margin"><h5>No</h5></td>
                              {%endif%}
                              <td class="aligncenter 0_margin"><h5>{{price["price"]}}</h5></td>
                              <td class="aligncenter 0_margin"><a href={{price['productUrl']}}  class="btn btn-mini">BUY</a></td>
                          </tr>
                      {%endfor%}


                  </tbody>
                </table>
              </div>

                    </div>
                  </div>
          </div>
          {%endif%}

            {%if batteryPhoneList[i] is defined %}

                  <!-- One Product Block Starts-->
                  {%set counter = 0 %}
                  {%set lowestPrice = [1000000] %}
                  {% set lowestWebsite = ["Out of Stock"] %}
                  {% set lowestWebsiteURL = ["#"] %}
                  {% for price in batteryPhoneList[i]["Prices"] %}
                  {%set counter = counter + 1%}
                  {%if price["price"]|int < lowestPrice[0] %}
                  {%if price["stock status"]|int > 0 %}
                  {% set _ = lowestPrice.append(price["price"]) %}
                  {% set _ = lowestWebsite.append(price["website"]|string) %}
                  {% set _ = lowestWebsiteURL.append( price["productUrl"]|string) %}
                  {% set _ = lowestPrice.pop(0) %}
                  {% set _ = lowestWebsite.pop(0) %}
                  {% set _ = lowestWebsiteURL.pop(0) %}
                  {%endif%}
                  {%endif%}
                  {%endfor%}
                  

              <div class="span3 product hover carousel_item" style= "border-radius:0px; box-shadow: 0 0 0">
                <div class="product-image-wrapper " style= "border-radius:0px; height: 201px"><a href='../pdp/{{batteryPhoneList[i]["_id"]}}'><img src="static/img/ImageScrappers/{{batteryPhoneList[i]["Brand"]}} {{batteryPhoneList[i]["Model Name"]}}.jpg" style="height:100%" alt=""><img src="static/img/product_page_img_big1.jpg" class="roll_over_img" alt=""></a> </div>
                <div class="wrapper-hover">
                  <div class="product-name aligncenter" style="height:33px"><a href='../pdp/{{batteryPhoneList[i]["_id"]}}'>{{batteryPhoneList[i]["Brand"]}} {{batteryPhoneList[i]["Model Name"]}}</a></div>
                  <div class="wrapper"><span class="sort-rating hidden">4</span>
                    <!--<div class="product-tocart"> <a href="shopping-cart.html"><i class="icon-basket"></i></a> </div>-->
                        <div class="product-price aligncenter" style = "padding-bottom:10px">
                            {%if lowestWebsite[0] == "Out of Stock"  %}
                            <a class="aligncenter"  href="#" style="color: #B40404">{{"Price Not Available"}}</a>
                            {% else %}
                            <a class="aligncenter"  href="{{lowestWebsiteURL[0]}}">Lowest Price&nbsp;₹&nbsp{{lowestPrice[0]}}</a>
                            {%endif%}
                        </div>
                    
                  </div>
                  <div class="skillbar clearfix " data-percent={{batteryScoreList[i]}}%>
                    <div class="skillbar-title" style="background: #3b5998; width:22%;"><span style="color: #FFFFFF">{{batteryScoreList[i]}}/100</span></div>
                    <div class="skillbar-bar" style="background: #8b9dc3;"></div>
                    <div class="skill-bar-percent"></div>
                  </div>
                    <div class="add-to-links">
                      <ul>
                        <li style = "padding-bottom:10px;"><a href="#compare_price{{i}}_battery" class="small_icon_color" data-toggle="modal"><i class="icon-shop"></i></a><a class="small_icon_color" data-toggle="modal" onclick="location.href='#';" href="#compare_price{{i}}_battery">Compare Prices</a></li>
                        <li> <a href="#" class="small_icon_color" onclick="addToCompareFromListing('{{batteryPhoneList[i]["_id"]}}');"><i class="icon-chart-bar"></i>Add to Compare</a> </li>
                      </ul>
                    </div>
                </div>
              </div>
          {%endif%}
          {%endfor%}

                <!--Product blockends here-->
            </div> 
          </div>
        </div>
      </div>
	  
	  <h3 class="padding">Most Popular Camera Phones</h3>
      <div class="carousel es-carousel-wrapper style0">
        <div class="es-carousel">
          <div class="row">
            <div class="product_outer carousel_items">
              {%for i in range(cameraPhoneList|length)%}

                {%if cameraPhoneList[i] is defined %}
              <!--Compare Prices PoUp -->
              <div class="modal fade" id="compare_price{{i}}_camera">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" style="color:#AAAAAA"><center>Compare Prices for {{cameraPhoneList[i]['Brand']}} {{cameraPhoneList[i]['Model Name']}}</center></h4>
                      </div>
                      <div class="modal-body">
            <table class="table">
            <colgroup>
            <col class="colfixw25">
            <col class="colfixw25">
            <col class="colfixw20">
            <col class="colfixw10">
            <col class="colfixw20">
            </colgroup>
                  <thead>
                    <tr>
                      <!--<td scope="col" class="aligncenter backgrey font_table_fix ">Product Name </td>-->
                      <td scope="col" class="aligncenter backgrey font_table_fix">Seller</td>
                      <td scope="col" class="aligncenter backgrey font_table_fix">Availability</td>
                      <td scope="col" class="aligncenter backgrey font_table_fix">Price</td>
              <td scope="col" class="aligncenter backgrey font_table_fix">Buy Option</td>
                    </tr>
                  </thead>
                  <tbody>
                      {% for price in cameraPhoneList[i]["Prices"] %}
                          <tr>
                              <!--<td class="aligncenter 0_margin"><h5>Xiaomi</td>-->
                              <td class="aligncenter 0_margin"><img src="static/img/{{price['website']}}.jpg"  alt={{price['website']}} height="25px" width="100px"> </td>
                              {%if price["stock status"]|int ==  1%}
                                  <td class="aligncenter 0_margin"><h5>Yes</h5></td>
                                  {%else%}
                                  <td class="aligncenter 0_margin"><h5>No</h5></td>
                              {%endif%}
                              <td class="aligncenter 0_margin"><h5>{{price["price"]}}</h5></td>
                              <td class="aligncenter 0_margin"><a href={{price['productUrl']}}  class="btn btn-mini">BUY</a></td>
                          </tr>
                      {%endfor%}


                  </tbody>
                </table>
              </div>

                    </div>
                  </div>
          </div>
          {%endif%}


            {%if cameraPhoneList[i] is defined %}
                  <!-- One Product Block Starts-->
                  {%set counter = 0 %}
                  {%set lowestPrice = [1000000] %}
                  {% set lowestWebsite = ["Out of Stock"] %}
                  {% set lowestWebsiteURL = ["#"] %}
                  {% for price in cameraPhoneList[i]["Prices"] %}
                  {%set counter = counter + 1%}
                  {%if price["price"]|int < lowestPrice[0] %}
                  {%if price["stock status"]|int > 0 %}
                  {% set _ = lowestPrice.append(price["price"]) %}
                  {% set _ = lowestWebsite.append(price["website"]|string) %}
                  {% set _ = lowestWebsiteURL.append( price["productUrl"]|string) %}
                  {% set _ = lowestPrice.pop(0) %}
                  {% set _ = lowestWebsite.pop(0) %}
                  {% set _ = lowestWebsiteURL.pop(0) %}
                  {%endif%}
                  {%endif%}
                  {%endfor%}
                  

              <div class="span3 product hover carousel_item" style= "border-radius:0px; box-shadow: 0 0 0">
                <div class="product-image-wrapper " style= "border-radius:0px; height: 201px"><a href='../pdp/{{cameraPhoneList[i]["_id"]}}'><img src="static/img/ImageScrappers/{{cameraPhoneList[i]["Brand"]}} {{cameraPhoneList[i]["Model Name"]}}.jpg" style="height:100%" alt=""><img src="static/img/product_page_img_big1.jpg" class="roll_over_img" alt=""></a> </div>
                <div class="wrapper-hover">
                  <div class="product-name aligncenter" style="height:33px"><a href='../pdp/{{cameraPhoneList[i]["_id"]}}'>{{cameraPhoneList[i]["Brand"]}} {{cameraPhoneList[i]["Model Name"]}}</a></div>
                  <div class="wrapper"><span class="sort-rating hidden">4</span>
                    <!--<div class="product-tocart"> <a href="shopping-cart.html"><i class="icon-basket"></i></a> </div>-->
                        <div class="product-price aligncenter" style = "padding-bottom:10px">
                            {%if lowestWebsite[0] == "Out of Stock"  %}
                            <a class="aligncenter"  href="#" style="color: #B40404">{{"Price Not Available"}}</a>
                            {% else %}
                            <a class="aligncenter"  href="{{lowestWebsiteURL[0]}}">Lowest Price&nbsp;₹&nbsp{{lowestPrice[0]}}</a>
                            {%endif%}
                        </div>
                    
                  </div>
                  <div class="skillbar clearfix " data-percent={{cameraScoreList[i]}}%>
                    <div class="skillbar-title" style="background: #3b5998; width:22%;"><span style="color: #FFFFFF">{{cameraScoreList[i]}}/100</span></div>
                    <div class="skillbar-bar" style="background: #8b9dc3;"></div>
                    <div class="skill-bar-percent"></div>
                  </div>
                    <div class="add-to-links">
                      <ul>
                        <li style = "padding-bottom:10px;"><a href="#compare_price{{i}}_camera" class="small_icon_color" data-toggle="modal"><i class="icon-shop"></i></a><a class="small_icon_color" data-toggle="modal" onclick="location.href='#';" href="#compare_price{{i}}_camera">Compare Prices</a></li>
                        <li> <a href="#" class="small_icon_color" onclick="addToCompareFromListing('{{cameraPhoneList[i]["_id"]}}');"><i class="icon-chart-bar"></i>Add to Compare</a> </li>
                      </ul>
                    </div>
                </div>
              </div>
          {%endif%}
          {%endfor%}

                <!--Product blockends here-->
            </div> 
          </div>
        </div>
      </div>
	  <!-- -->
	  
    </div>
    <div class="line"></div>

    
    <div class="line"></div>
    <div class="container">
      <div class="row animate-delay-outer">
        <div class="span6">
          <div class="row">
            <div class="span3 animate-delay fadeUp">
              <h3><i class="icon-vcard"></i>ABOUT <span class="custom_color">Bazaar</span>Funda</h3>
              <div class="cleancode" style= "text-align: justify;">
                <p><strong>We believe that human life has too many decisions to make and consumer's purchase decision is an everyday affair.</strong></p>
                <p>We thought of alleviating it by use of text analytics technology.<br>
                  We extract what people are speaking about various products and present it to consumers in a simplistic manner so that you have an elegant shopping experience. Now forget about browsing multiple review websites and calling various friends because everything is available to you in minutes.</p>
              </div>
            </div>
            <div class="span3 animate-delay fadeUp">
              <h3><i class="icon-facebook"></i>FACEBOOK</h3>
              <div class="fb-page" data-href="https://www.facebook.com/bazaarfunda" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
                <div class="fb-xfbml-parse-ignore">
                  <blockquote cite="https://www.facebook.com/bazaarfunda">
                    <a href="https://www.facebook.com/facebook">Facebook</a>
                </blockquote>
              </div>
            </div>
              
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="row">
            <div class="span3 animate-delay fadeUp">
              <h3><i class="icon-twitter-bird" height="300"></i>TWITTER FEEDS</h3>
              <a class="twitter-timeline" height="300" href="https://twitter.com/bazaarfunda" data-widget-id="610375028115402752">Tweets by @bazaarfunda</a>

            </div>
            <div class="span3 animate-delay fadeUp">
              <h3><i class="icon-mail"></i>CONTACT US</h3>
              <div class="cleancode">
                <ul class="icons">
                  <li><i class="icon-call"></i><strong>CONTACT PHONE:</strong><br>
                    9831227903, 9963640033 </li>
                  <li><i class="icon-mail-1"></i><strong>E-MAIL ADDRESSES:</strong><br>
                    <a href="mailto:sales@mydomain.com">bazaarfunda@gmail.com</a> <br>
                    <a href="mailto:info@mydomain.com">krish@stratdecider.com</a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="push"></div>
</div>
<!--FOOTER-->
{% endblock %}