    {% extends "header.html" %}
    {% block content %}


  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="bannercontainer" >
          <div class="banner" >
            <ul>

              <!-- SLIDE 1 -->
              <!-- <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-link="http://www.google.de" data-target="_blank" data-slideindex="back" data-thumb="images/thumbs/thumb1.jpg"> 
                
                <img src="img/slides/slider_1.jpg"  alt=""> 
                
                
                <div class="caption  sft"
                       data-x="147"
                       data-y="31"
                       data-speed="300"
                       data-start="800"
                       data-captionhidden="on"
                       data-easing="easeOutExpo"  ><img src="static/img/slider1_text1.png" alt="text 1"></div>
                <div class="caption  sft"
                       data-x="147"
                       data-y="64"
                       data-speed="300"
                       data-start="1100"
                       data-captionhidden="on"
                       data-easing="easeOutExpo"  ><img src="static/img/slider1_text3.png" alt="text 2"></div>
                <div class="caption  randomrotate"
                       data-x="264"
                       data-y="64"
                       data-speed="300"
                       data-start="1500"
                       data-captionhidden="on"
                       data-easing="easeOutExpo"  ><img src="static/img/slider1_text2.png" alt="text 3"></div>
                <div class="caption randomrotate"
                       data-x="335"
                       data-y="292"
                       data-speed="600"
                       data-start="1100"
                       data-easing="easeOutExpo"  ><img src="static/img/p1.png" alt="Image 2"></div>
                <div class="caption randomrotate"
                       data-x="296"
                       data-y="316"
                       data-speed="600"
                       data-start="1200"
                       data-easing="easeOutExpo"  ><img src="static/img/p2.png" alt="Image 3"></div>
                <div class="caption randomrotate"
                       data-x="143"
                       data-y="250"
                       data-speed="600"
                       data-start="1300"
                       data-easing="easeOutExpo"  ><img src="static/img/p3.png" alt="Image 4"></div>
                <div class="caption randomrotate"
                       data-x="224"
                       data-y="200"
                       data-speed="300"
                       data-start="1400"
                       data-easing="easeOutExpo"  ><img src="static/img/p4.png" alt="Image 5"></div>
                <div class="caption randomrotate"
                       data-x="195"
                       data-y="300"
                       data-speed="600"
                       data-start="1500"
                       data-easing="easeOutExpo"  ><img src="static/img/p5.png" alt="Image 6"></div>
                <div class="caption randomrotate"
                       data-x="264"
                       data-y="153"
                       data-speed="300"
                       data-start="1600"
                       data-easing="easeOutExpo"  ><img src="static/img/p6.png" alt="Image 7"></div>
                <div class="caption randomrotate"
                       data-x="370"
                       data-y="190"
                       data-speed="300"
                       data-start="1700"
                       data-easing="easeOutExpo"  ><img src="static/img/p7.png" alt="Image 8"></div>
                <div class="caption randomrotate"
                       data-x="413"
                       data-y="245"
                       data-speed="300"
                       data-start="1800"
                       data-easing="easeOutExpo"  ><img src="static/img/p8.png" alt="Image 9"></div>
                <div class="caption randomrotate"
                       data-x="435"
                       data-y="165"
                       data-speed="300"
                       data-start="1900"
                       data-easing="easeOutExpo"  ><img src="static/img/p9.png" alt="Image 10"></div>
                <div class="caption randomrotate"
                       data-x="382"
                       data-y="245"
                       data-speed="300"
                       data-start="2000"
                       data-easing="easeOutExpo"  ><img src="static/img/p10.png" alt="Image 11"></div>
                <div class="caption randomrotate"
                       data-x="280"
                       data-y="230"
                       data-speed="300"
                       data-start="2100"
                       data-easing="easeOutExpo"  ><img src="static/img/p11.png" alt="Image 12"></div>
              </li> -->
              
              
              <!-- SLIDE 5 -->
              <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300" > <img src="static/img/white.jpg"  alt="">
                <div class="caption lfl"
                     data-x="0"
                     data-y="0"
                     data-speed="1000"
                     data-start="200"
                     data-easing="easeOutBack" ><img src="static/img/iphone1.png" alt="Image 0"></div>
                <div class="caption lfr"
                     data-x="0"
                     data-y="0"
                     data-speed="1000"
                     data-start="600"
                     data-easing="easeOutBack" ><img src="static/img/iphone2.png" alt="Image 0"></div>
                <div class="caption lfr"
                     data-x="580"
                     data-y="180"
                     data-speed="300"
                     data-start="1800"
                     data-easing="easeOutExpo"  ><img src="static/img/slider4_text1.png" alt="Image 1"></div>
                <div class="caption lfl"
                     data-x="580"
                     data-y="230"
                     data-speed="500"
                     data-start="2200"
                     data-easing="easeOutExpo"  ><img src="static/img/slider4_text2.png" alt="Image 2"></div>
                <div class="caption lfr"
                     data-x="580"
                     data-y="310"
                     data-speed="500"
                     data-start="2400"
                     data-easing="easeInBack"
                     data-end="5700" 
                                         data-endspeed="300" 
                                         data-endeasing="easeInBack"  ><img src="static/img/slider4_text3.png" alt="Image 3"></div>
                <div class="caption lfr"
                     data-x="580"
                     data-y="310"
                     data-speed="500"
                     data-start="5800"
                     data-easing="easeInBack"  ><img src="static/img/slider4_text4.png" alt="Image 3"></div>
              </li>
              
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--CONTENT-->
  <section id="content">
    <div class="container">
	
	
      <h3 class="padding">Best Seller</h3>
      <div class="carousel es-carousel-wrapper style0">
        <div class="es-carousel">
          <div class="row">
            <div class="product_outer carousel_items">
              <div class="span3 product carousel_item prod-hover">
                
			<div class="wrapper-hover">
				<div class="comp-prod onhover animate scale">
					<div class="comp-prod-img">
						<img src="http://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-note-edge1.jpg">
					</div>
					<div class="comp-prod-name">
						<a href="#"><span><h5>Samsung Galaxy</h5></span></a>
					</div>
				</div>
				
				<div class="comapre-vs">
				<h4>VS</h4>
				</div>
				
				<div class="comp-prod onhover animate scale">
					<div class="comp-prod-img">
						<img src="http://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-note-edge1.jpg">
					</div>
					<div class="comp-prod-name">
						<a href="#"><span><h5>Samsung Galaxy</h5></span></a>
					</div>
				</div>
				<div class="comp-prod-foot">
				<a href="#" class="btn">compare</a>
				</div>
			</div> 
           </div>
		   
		    <div class="span3 product carousel_item prod-hover">
                
			<div class="wrapper-hover">
				<div class="comp-prod onhover animate scale">
					<div class="comp-prod-img">
						<img src="http://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-note-edge1.jpg">
					</div>
					<div class="comp-prod-name">
						<a href="#"><span><h5>Samsung Galaxy</h5></span></a>
					</div>
				</div>
				
				<div class="comapre-vs">
				<h4>VS</h4>
				</div>
				
				<div class="comp-prod onhover animate scale">
					<div class="comp-prod-img">
						<img src="http://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-note-edge1.jpg">
					</div>
					<div class="comp-prod-name">
						<a href="#"><span><h5>Samsung Galaxy</h5></span></a>
					</div>
				</div>
				<div class="comp-prod-foot">
				<a href="#" class="btn">compare</a>
				</div>
			</div> 
           </div>
		   
		    <div class="span3 product carousel_item prod-hover">
                
			<div class="wrapper-hover">
				<div class="comp-prod onhover animate scale">
					<div class="comp-prod-img">
						<img src="http://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-note-edge1.jpg">
					</div>
					<div class="comp-prod-name">
						<a href="#"><span><h5>Samsung Galaxy</h5></span></a>
					</div>
				</div>
				
				<div class="comapre-vs">
				<h4>VS</h4>
				</div>
				
				<div class="comp-prod onhover animate scale">
					<div class="comp-prod-img">
						<img src="http://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-note-edge1.jpg">
					</div>
					<div class="comp-prod-name">
						<a href="#"><span><h5>Samsung Galaxy</h5></span></a>
					</div>
				</div>
				<div class="comp-prod-foot">
				<a href="#" class="btn">compare</a>
				</div>
			</div> 
           </div>
		   
		    <div class="span3 product carousel_item prod-hover">
                
			<div class="wrapper-hover">
				<div class="comp-prod onhover animate scale">
					<div class="comp-prod-img">
						<img src="http://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-note-edge1.jpg">
					</div>
					<div class="comp-prod-name">
						<a href="#"><span><h5>Samsung Galaxy</h5></span></a>
					</div>
				</div>
				
				<div class="comapre-vs">
				<h4>VS</h4>
				</div>
				
				<div class="comp-prod onhover animate scale">
					<div class="comp-prod-img">
						<img src="http://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-note-edge1.jpg">
					</div>
					<div class="comp-prod-name">
						<a href="#"><span><h5>Samsung Galaxy</h5></span></a>
					</div>
				</div>
				<div class="comp-prod-foot">
				<a href="#" class="btn">compare</a>
				</div>
			</div> 
           </div>
             
            
            
            </div> 
          </div>
        </div>
      </div> <!-- -->
	  <div class="line"></div>
	  <h3 class="padding">Recommend Mobiles</h3>
      <div class="carousel es-carousel-wrapper style0">
        <div class="es-carousel">
          <div class="row">
            <div class="product_outer carousel_items">
              {%for i in range(batteryPhoneList|length)%}
            {%if batteryPhoneList[i] is defined %}
                  <!-- One Product Block Starts-->
                  {%set counter = 0 %}
                  {%set lowestPrice = [1000000] %}
                  {% set lowestWebsite = ["Out of Stock"] %}
                  {% set lowestWebsiteURL = ["#"] %}
                  {% for price in batteryPhoneList[i]["Prices"] %}
                  {%set counter = counter + 1%}
                  {%if price["price"]|int < lowestPrice[0] %}
                  {%if price["stock status"]|int > 0 %}
                  {% set _ = lowestPrice.append(price["price"]) %}
                  {% set _ = lowestWebsite.append(price["website"]|string) %}
                  {% set _ = lowestWebsiteURL.append( price["productUrl"]|string) %}
                  {% set _ = lowestPrice.pop(0) %}
                  {% set _ = lowestWebsite.pop(0) %}
                  {% set _ = lowestWebsiteURL.pop(0) %}
                  {%endif%}
                  {%endif%}
                  {%endfor%}
                  

              <div class="span3 product hover carousel_item" style= "border-radius:0px; box-shadow: 0 0 0">
                <div class="product-image-wrapper " style= "border-radius:0px; box-shadow: 0 0 0"><a href='../pdp/{{batteryPhoneList[i]["_id"]}}'><img src="static/img/product_page_img_big1.jpg" alt=""><img src="static/img/product_page_img_big1.jpg" class="roll_over_img" alt=""></a> </div>
                <div class="wrapper-hover">
                  <div class="product-name aligncenter"><a href='../pdp/{{batteryPhoneList[i]["_id"]}}'>{{batteryPhoneList[i]["Brand"]}} {{batteryPhoneList[i]["Model Name"]}}</a></div>
                  <div class="wrapper"><span class="sort-rating hidden">4</span>
                    <!--<div class="product-tocart"> <a href="shopping-cart.html"><i class="icon-basket"></i></a> </div>-->
                        <div class="product-price aligncenter" style = "padding-bottom:10px">
                            {%if lowestWebsite[0] == "Out of Stock"  %}
                            <a class="aligncenter"  href="#" style="color: #B40404">{{"Price Not Available"}}</a>
                            {% else %}
                            <a class="aligncenter"  href="http://www.flipkart.com/htc-a310e-explorer/p/itme6g4yxaa7s8zu?pid=MOBDB8Z7QCGZSPDF">Lowest Price&nbsp;₹&nbsp{{lowestPrice[0]}}</a>
                            {%endif%}
                        </div>
                    
                  </div>
                  <div class="skillbar clearfix " data-percent={{batteryScoreList[i]}}%>
                    <div class="skillbar-title" style="background: #3b5998; width:22%;"><span style="color: #FFFFFF">{{batteryScoreList[i]}}/100</span></div>
                    <div class="skillbar-bar" style="background: #8b9dc3;"></div>
                    <div class="skill-bar-percent"></div>
                  </div>
                    <div class="add-to-links">
                      <ul>
                        <li style = "padding-bottom:10px;"><a href="#" class="small_icon_color" ><i class="icon-shop"></i></a><a class="small_icon_color" data-toggle="modal" onclick="location.href='#';" href="#compare_price{{i}}">Compare Prices</a></li>
                        <li> <a href="#" class="small_icon_color" onclick="addToCompareFromListing('{{batteryPhoneList[i]["_id"]}}');"><i class="icon-chart-bar"></i>Add to Compare</a> </li>
                      </ul>
                    </div>
                </div>
              </div>
          {%endif%}
          {%endfor%}

                <!--Product blockends here-->
            </div> 
          </div>
        </div>
      </div> <!-- -->
	  <div class="line"></div>
	  <h3 class="padding">Best Battery Phones</h3>
       <div class="carousel es-carousel-wrapper style0">
        <div class="es-carousel">
          <div class="row">
            <div class="product_outer carousel_items">
              {%for i in range(batteryPhoneList|length)%}
            {%if batteryPhoneList[i] is defined %}
                  <!-- One Product Block Starts-->
                  {%set counter = 0 %}
                  {%set lowestPrice = [1000000] %}
                  {% set lowestWebsite = ["Out of Stock"] %}
                  {% set lowestWebsiteURL = ["#"] %}
                  {% for price in batteryPhoneList[i]["Prices"] %}
                  {%set counter = counter + 1%}
                  {%if price["price"]|int < lowestPrice[0] %}
                  {%if price["stock status"]|int > 0 %}
                  {% set _ = lowestPrice.append(price["price"]) %}
                  {% set _ = lowestWebsite.append(price["website"]|string) %}
                  {% set _ = lowestWebsiteURL.append( price["productUrl"]|string) %}
                  {% set _ = lowestPrice.pop(0) %}
                  {% set _ = lowestWebsite.pop(0) %}
                  {% set _ = lowestWebsiteURL.pop(0) %}
                  {%endif%}
                  {%endif%}
                  {%endfor%}
                  

              <div class="span3 product hover carousel_item" style= "border-radius:0px; box-shadow: 0 0 0">
                <div class="product-image-wrapper " style= "border-radius:0px; box-shadow: 0 0 0"><a href='../pdp/{{batteryPhoneList[i]["_id"]}}'><img src="static/img/product_page_img_big1.jpg" alt=""><img src="static/img/product_page_img_big1.jpg" class="roll_over_img" alt=""></a> </div>
                <div class="wrapper-hover">
                  <div class="product-name aligncenter"><a href='../pdp/{{batteryPhoneList[i]["_id"]}}'>{{batteryPhoneList[i]["Brand"]}} {{batteryPhoneList[i]["Model Name"]}}</a></div>
                  <div class="wrapper"><span class="sort-rating hidden">4</span>
                    <!--<div class="product-tocart"> <a href="shopping-cart.html"><i class="icon-basket"></i></a> </div>-->
                        <div class="product-price aligncenter" style = "padding-bottom:10px">
                            {%if lowestWebsite[0] == "Out of Stock"  %}
                            <a class="aligncenter"  href="#" style="color: #B40404">{{"Price Not Available"}}</a>
                            {% else %}
                            <a class="aligncenter"  href="http://www.flipkart.com/htc-a310e-explorer/p/itme6g4yxaa7s8zu?pid=MOBDB8Z7QCGZSPDF">Lowest Price&nbsp;₹&nbsp{{lowestPrice[0]}}</a>
                            {%endif%}
                        </div>
                    
                  </div>
                  <div class="skillbar clearfix " data-percent={{batteryScoreList[i]}}%>
                    <div class="skillbar-title" style="background: #3b5998; width:22%;"><span style="color: #FFFFFF">{{batteryScoreList[i]}}/100</span></div>
                    <div class="skillbar-bar" style="background: #8b9dc3;"></div>
                    <div class="skill-bar-percent"></div>
                  </div>
                    <div class="add-to-links">
                      <ul>
                        <li style = "padding-bottom:10px;"><a href="#" class="small_icon_color" ><i class="icon-shop"></i></a><a class="small_icon_color" data-toggle="modal" onclick="location.href='#';" href="#compare_price{{i}}">Compare Prices</a></li>
                        <li> <a href="#" class="small_icon_color" onclick="addToCompareFromListing('{{batteryPhoneList[i]["_id"]}}');"><i class="icon-chart-bar"></i>Add to Compare</a> </li>
                      </ul>
                    </div>
                </div>
              </div>
          {%endif%}
          {%endfor%}

                <!--Product blockends here-->
            </div> 
          </div>
        </div>
      </div>
	  
	  <h3 class="padding">Best Camera Phones</h3>
      <div class="carousel es-carousel-wrapper style0">
        <div class="es-carousel">
          <div class="row">
            <div class="product_outer carousel_items">
              {%for i in range(cameraPhoneList|length)%}
            {%if cameraPhoneList[i] is defined %}
                  <!-- One Product Block Starts-->
                  {%set counter = 0 %}
                  {%set lowestPrice = [1000000] %}
                  {% set lowestWebsite = ["Out of Stock"] %}
                  {% set lowestWebsiteURL = ["#"] %}
                  {% for price in cameraPhoneList[i]["Prices"] %}
                  {%set counter = counter + 1%}
                  {%if price["price"]|int < lowestPrice[0] %}
                  {%if price["stock status"]|int > 0 %}
                  {% set _ = lowestPrice.append(price["price"]) %}
                  {% set _ = lowestWebsite.append(price["website"]|string) %}
                  {% set _ = lowestWebsiteURL.append( price["productUrl"]|string) %}
                  {% set _ = lowestPrice.pop(0) %}
                  {% set _ = lowestWebsite.pop(0) %}
                  {% set _ = lowestWebsiteURL.pop(0) %}
                  {%endif%}
                  {%endif%}
                  {%endfor%}
                  

              <div class="span3 product hover carousel_item" style= "border-radius:0px; box-shadow: 0 0 0">
                <div class="product-image-wrapper " style= "border-radius:0px; box-shadow: 0 0 0"><a href='../pdp/{{cameraPhoneList[i]["_id"]}}'><img src="static/img/product_page_img_big1.jpg" alt=""><img src="static/img/product_page_img_big1.jpg" class="roll_over_img" alt=""></a> </div>
                <div class="wrapper-hover">
                  <div class="product-name aligncenter"><a href='../pdp/{{cameraPhoneList[i]["_id"]}}'>{{cameraPhoneList[i]["Brand"]}} {{cameraPhoneList[i]["Model Name"]}}</a></div>
                  <div class="wrapper"><span class="sort-rating hidden">4</span>
                    <!--<div class="product-tocart"> <a href="shopping-cart.html"><i class="icon-basket"></i></a> </div>-->
                        <div class="product-price aligncenter" style = "padding-bottom:10px">
                            {%if lowestWebsite[0] == "Out of Stock"  %}
                            <a class="aligncenter"  href="#" style="color: #B40404">{{"Price Not Available"}}</a>
                            {% else %}
                            <a class="aligncenter"  href="http://www.flipkart.com/htc-a310e-explorer/p/itme6g4yxaa7s8zu?pid=MOBDB8Z7QCGZSPDF">Lowest Price&nbsp;₹&nbsp{{lowestPrice[0]}}</a>
                            {%endif%}
                        </div>
                    
                  </div>
                  <div class="skillbar clearfix " data-percent={{cameraScoreList[i]}}%>
                    <div class="skillbar-title" style="background: #3b5998; width:22%;"><span style="color: #FFFFFF">{{cameraScoreList[i]}}/100</span></div>
                    <div class="skillbar-bar" style="background: #8b9dc3;"></div>
                    <div class="skill-bar-percent"></div>
                  </div>
                    <div class="add-to-links">
                      <ul>
                        <li style = "padding-bottom:10px;"><a href="#" class="small_icon_color" ><i class="icon-shop"></i></a><a class="small_icon_color" data-toggle="modal" onclick="location.href='#';" href="#compare_price{{i}}">Compare Prices</a></li>
                        <li> <a href="#" class="small_icon_color" onclick="addToCompareFromListing('{{cameraPhoneList[i]["_id"]}}');"><i class="icon-chart-bar"></i>Add to Compare</a> </li>
                      </ul>
                    </div>
                </div>
              </div>
          {%endif%}
          {%endfor%}

                <!--Product blockends here-->
            </div> 
          </div>
        </div>
      </div>
	  <!-- -->
	  
    </div>
    <div class="line"></div>
    <div class="container">
     
     
      <br>
      <div class="row">
        <div class="span12">
          <h3 class="padding">FROM THE BLOG</h3>
          <div class="carousel es-carousel-wrapper style2 from-blog">
            <div class="es-carousel">
              <div class="row">
                <div class="carousel_items">
                  <div class="span6 carousel_item">
                    <div class="row">
                      <div class="span3"><a href="blog_single_post.html"><img src="img/blog_img.jpg" alt="" class="animate scale"></a></div>
                      <div class="span3">
                        <h4>Nullam id justo sed diam duis sollicitudin commodo </h4>
                        <p><a href="blog_single_post.html">5 Comments</a></p>
                        <p>Nullam id justo sed diam aliquam tincidunt. Duis sollicitudin, dui ac commodo iaculis, mi risus sagittis odio, vel ultrices enim sem ut imperdiet. Integer ligula magna, dictum et, pulvinar non, ultricies ac, nibh... </p>
                      </div>
                    </div>
                  </div>
                  <div class="span6 carousel_item">
                    <div class="row">
                      <div class="span3"><img src="img/blog_img1.jpg" alt="" class="animate scale"></div>
                      <div class="span3">
                        <h4>Nullam id justo sed diam duis sollicitudin commodo </h4>
                        <p><a href="blog_single_post.html">5 Comments</a></p>
                        <p>Nullam id justo sed diam aliquam tincidunt. Duis sollicitudin, dui ac commodo iaculis, mi risus sagittis odio, vel ultrices enim sem ut imperdiet. Integer ligula magna, dictum et, pulvinar non, ultricies ac, nibh... </p>
                      </div>
                    </div>
                  </div>
                  <div class="span6 carousel_item">
                    <div class="row">
                      <div class="span3"><a href="blog_single_post.html"><img src="img/blog_img.jpg" alt="" class="animate scale"></a></div>
                      <div class="span3">
                        <h5>Nullam id justo sed diam duis sollicitudin commodo </h5>
                        <p><a href="blog_single_post.html">5 Comments</a></p>
                        <p>Nullam id justo sed diam aliquam tincidunt. Duis sollicitudin, dui ac commodo iaculis, mi risus sagittis odio, vel ultrices enim sem ut imperdiet. Integer ligula magna, dictum et, pulvinar non, ultricies ac, nibh... </p>
                      </div>
                    </div>
                  </div>
                  <div class="span6 carousel_item">
                    <div class="row">
                      <div class="span3"><img src="img/blog_img1.jpg" alt="" class="animate scale"></div>
                      <div class="span3">
                        <h5>Nullam id justo sed diam duis sollicitudin commodo </h5>
                        <p><a href="blog_single_post.html">5 Comments</a></p>
                        <p>Nullam id justo sed diam aliquam tincidunt. Duis sollicitudin, dui ac commodo iaculis, mi risus sagittis odio, vel ultrices enim sem ut imperdiet. Integer ligula magna, dictum et, pulvinar non, ultricies ac, nibh... </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="container">
      <div class="row animate-delay-outer">
        <div class="span6">
          <div class="row">
            <div class="span3 animate-delay fadeUp">
              <h3><i class="icon-vcard"></i>ABOUT <span class="custom_color">BUY</span>SHOP</h3>
              <div class="cleancode">
                <p><strong>Fusce eu dui. Integer vel nibh sit amet turpis vulputate aliquet. </strong>Phasellus id tesque a leo. Donec consequat lectus sed felis. Quisque vestibulum massa. Nulla ornare. Nulla libero.</p>
                <p>Nullam ac nisi non eros gravida venenatis.<br>
                  Ut euismod, turpis sollicitudin lobortis pellentesque, libero massa dapibus dui, eu dictum justo urna et mi. Integer dictum est vitae sem. </p>
                <p>Vestibulum justo. Nulla mauris ipsum, convallis ut, vestibulum eu, tincidunt vel, nisi. Curabitur molestie euismod erat. Proin eros odio, mattis rutrum. </p>
              </div>
            </div>
            <div class="span3 animate-delay fadeUp">
              <h3><i class="icon-facebook"></i>FACEBOOK</h3>
              <div class="fb_outer">
                <div>120 people like <strong><a href="#"><span class="custom_color">BUYS</span>HOP</a></strong></div>
                <div class="items_row">
                  <div class="item">
                    <div class="photo"><a href="#"><img src="img/fb/fb_user.png" alt=""></a></div>
                    <div class="name"><a href="#">loremipsum</a></div>
                  </div>
                  <div class="item aligncenter">
                    <div class="photo"><a href="#"><img src="img/fb/fb_user-02.png" alt=""></a></div>
                    <div class="name"><a href="#">dolor</a></div>
                  </div>
                  <div class="item alignright">
                    <div class="photo"><a href="#"><img src="img/fb/fb_user-03.png" alt=""></a></div>
                    <div class="name"><a href="#">sitamet</a></div>
                  </div>
                </div>
                <div class="items_row">
                  <div class="item">
                    <div class="photo"><a href="#"><img src="img/fb/fb_user-04.png" alt=""></a></div>
                    <div class="name"><a href="#">diam</a></div>
                  </div>
                  <div class="item aligncenter">
                    <div class="photo"><a href="#"><img src="img/fb/fb_user-05.png" alt=""></a></div>
                    <div class="name"><a href="#">labore</a></div>
                  </div>
                  <div class="item alignright">
                    <div class="photo"><a href="#"><img src="img/fb/fb_user-06.png" alt=""></a></div>
                    <div class="name"><a href="#">nonumy</a></div>
                  </div>
                </div>
                <div class="items_row">
                  <div class="item">
                    <div class="photo"><a href="#"><img src="img/fb/fb_user-07.png" alt=""></a></div>
                    <div class="name"><a href="#">loremipsum</a></div>
                  </div>
                  <div class="item aligncenter">
                    <div class="photo"><a href="#"><img src="img/fb/fb_user-08.png" alt=""></a></div>
                    <div class="name"><a href="#">dolor</a></div>
                  </div>
                  <div class="item alignright">
                    <div class="photo"><a href="#"><img src="img/fb/fb_user-09.png" alt=""></a></div>
                    <div class="name"><a href="#">sitamet</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="row">
            <div class="span3 animate-delay fadeUp">
              <h3><i class="icon-twitter-bird"></i>TWITTER FEEDS</h3>
              <div class="twit">
                <div class="icon"><i class="icon-twitter-bird"></i></div>
                <div class="mess">Nullam id justo sed diam aliquam tincidunt. Duis sollicitudin, dui ac More info at  labore <a href="http://t.co/f9E9cJEg">http://t.co/f9E9cJEg</a> Thanks for the patience :)<br>
                  3 days ago</div>
              </div>
              <div class="twit">
                <div class="icon"><i class="icon-twitter-bird"></i></div>
                <div class="mess">Nullam id justo sed diam aliquam tincidunt. Duis sollicitudin, dui ac More info at  labore <a href="http://t.co/f9E9cJEg">http://t.co/f9E9cJEg</a> Thanks for the patience :) <br>
                  3 days ago</div>
              </div>
            </div>
            <div class="span3 animate-delay fadeUp">
              <h3><i class="icon-mail"></i>CONTACT US</h3>
              <div class="cleancode">
                <ul class="icons">
                  <li><i class="icon-call"></i><strong>CONTACT PHONE:</strong><br>
                    321321321, 321321321 </li>
                  <li><i class="icon-mobile-alt"></i><strong>CELL PHONE:</strong><br>
                    123123123,  123123123 </li>
                  <li><i class="icon-mail-1"></i><strong>E-MAIL ADDRESSES:</strong><br>
                    <a href="mailto:sales@mydomain.com">SALES@MYDOMAIL.COM</a> <br>
                    <a href="mailto:info@mydomain.com">INFO@MYDOMAIN.COM</a> </li>
                  <li><i class="icon-skype"></i><strong>SKYPE:</strong><br>
                    TEST.SHOP,   SHOP.TEST </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="push"></div>
</div>
<!--FOOTER-->
{% endblock %}