    {% extends "header.html" %}
    {% block content %}
<section id="content">
    <div class="container top">
      <div class="row">
        <div class="span9" id="column_right">
          <!--<section class="slider">-->
            <!--<div class="flexslider small">-->
              <!--<ul class="slides">-->
                <!--<li> <a href="listing_catalogue_mode.html"><img src="static/img/slider2_sm.jpg" alt="" /></a> </li>-->
                <!--<li> <a href="listing_catalogue_mode.html"><img src="static/img/slider2_sm.jpg" alt="" /></a> </li>-->
                <!--<li> <a href="listing_catalogue_mode.html"><img src="static/img/slider2_sm.jpg" alt="" /></a> </li>-->
                <!--<li> <a href="listing_catalogue_mode.html"><img src="static/img/slider2_sm.jpg" alt="" /></a> </li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</section>-->
          <!--<div class="cleancode">
            <p>Vestibulum justo. Nulla mauris ipsum, convallis ut, vestibulum eu, tincidunt vel, nisi. Curabitur molestie euismod erat. Proin eros odio, mattis rutrum. et, egestas vitae, magna. Integer semper, velit ut interNam lectus nulla, bibendum pretium, dictum a, mattis nec, dolor. Nullam id justo sed diam aliquam tincidunt. Duis sollicitudin, dui ac commodo iaculis, mi risus sagittis odio, vel ultrices enim sem ut pede. Aenean quam. Nulla neque purus, ullamcorper nec, eleifend at, fermentum ut, turpis. Nullam id justo sed labore diam diam aliquam nonumy. Integer ligula magna, dictum et, pulvinar non, ultricies ac, nibh. Vivamus euismod nulla vel nunc. Fusce tincidunt, justo congue egestas molestie, tortor tortor blandit erat, et scelerisque metus metus at ipsum.</p>
          </div> -->
          <div class="listing_header_row1">
            <!-- <div class="pull-left">
              <label>Sort by:</label>
              <div class="select_wrapper width1">
                <select name="select1" class="custom sort-by" tabindex="1">
                  <option value="position">Position</option>
                  <option value="name">Name</option>
                  <option value="price">Price</option>
                  <option value="rating">Rating</option>
                </select>
              </div>
            </div> -->
            <div class=" aligncenter hidden-phone">
              <label> <span class="hidden-tablet">View as:</span></label>
              <a href="#" class="icon-th view-grid active"></a><a href="#" class="icon-th-list view-list"></a> </div>
            <!-- <div class="pull-right alignright">
              <label><span class="hidden-phone">Show:</span></label>
              <div class="select_wrapper width3">
                <select name="select2" class="custom" tabindex="1">
                  <option value="1">9</option>
                  <option value="2">12</option>
                  <option value="3">24</option>
                  <option value="4">48</option>
                </select>
              </div>
              per&nbsp;page</div> -->
          </div>
          <div class="line1"></div>
          <div class="listing_header_row2">
            <div class="pull-left">Items <strong>{{fromItem}}</strong> to <strong>{{toItem}}</strong> of <strong>{{totItem}}</strong> total</div>
            <div class="pull-right">
              <div class="num">
                <!-- , currentURL = currentURL -->
                {%for iter in range(totalPages)%}
                <a href="{{currentURL}}{{iter+1}}">{{iter + 1}}</a>
                {%endfor%}
                {%if next == 0%}
                  <a  class="small_icon"><i class="icon-right-thin"></i></a>
                {%else%}
                  <a href="{{currentURL}}{{next}}" class="small_icon"><i class="icon-right-thin"></i></a>
                {%endif%}
              </div>
            </div>
          </div>
          <h3>Listing</h3>
		  
          <div class="product-listing product-grid" style="height:relative">
            <div class="row big_with_description isotope-outer" style=" position: relative; height: relative;">

          {%for i in range(phoneDetails|length)%}
            {%if phoneDetails[i] is defined %}
                  <!-- One Product Block Starts-->
                  {%set counter = 0 %}
                  {%set lowestPrice = [1000000] %}
                  {% set lowestWebsite = ["Out of Stock"] %}
                  {% set lowestWebsiteURL = ["#"] %}
                  {% for price in phoneDetails[i]["Prices"] %}
                  {%set counter = counter + 1%}
                  {%if price["price"]|int < lowestPrice[0] %}
                  {%if price["stock status"]|int > 0 %}
                  {% set _ = lowestPrice.append(price["price"]) %}
                  {% set _ = lowestWebsite.append(price["website"]|string) %}
                  {% set _ = lowestWebsiteURL.append( price["productUrl"]|string) %}
                  {% set _ = lowestPrice.pop(0) %}
                  {% set _ = lowestWebsite.pop(0) %}
                  {% set _ = lowestWebsiteURL.pop(0) %}
                  {%endif%}
                  {%endif%}
                  {%endfor%}

              <div class="span3 product hover " style= "border-radius:0px; box-shadow: 0 0 0">
                <div class="product-image-wrapper " style= "border-radius:0px; box-shadow: 0 0 0"><a href='../pdp/{{phoneDetails[i]["_id"]}}'><img src="static/img/product_page_img_big1.jpg" alt=""><img src="static/img/product_page_img_big1.jpg" class="roll_over_img" alt=""></a> </div>
                <div class="wrapper-hover">
                  <div class="product-name aligncenter"><a href='../pdp/{{phoneDetails[i]["_id"]}}'>{{phoneDetails[i]["Brand"]}} {{phoneDetails[i]["Model Name"]}}</a></div>
                  <div class="wrapper"><span class="sort-rating hidden">4</span>
                    <!--<div class="product-tocart"> <a href="shopping-cart.html"><i class="icon-basket"></i></a> </div>-->
                        <div class="product-price aligncenter" style = "padding-bottom:10px">
                            {%if lowestWebsite[0] == "Out of Stock"  %}
                            <a class="aligncenter"  href="#" style="color: #B40404">{{"Price Not Available"}}</a>
                            {% else %}
                            <a class="aligncenter"  href="http://www.flipkart.com/htc-a310e-explorer/p/itme6g4yxaa7s8zu?pid=MOBDB8Z7QCGZSPDF">Lowest Price&nbsp;₹&nbsp{{lowestPrice[0]}}</a>
                            {%endif%}
                        </div>
                    <div class="rating-listing rating"> <strong><a><i class="icon-star-1"></i></a><a><i class="icon-star-1"></i></a><a><i class="icon-star-1"></i></a><a><i class="icon-star-1"></i></a></strong><a><i class="icon-star-empty"></i></a> </div>
                  </div>
                    <div class="skillbar clearfix " data-percent={{scoreList[i]}}%>
                    <div class="skillbar-title" style="background: #d35400; width:5%;"><span style="color: #AAAAAA">{{scoreList[i]}}/100</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                    <div class="skill-bar-percent"></div>
                  </div>
                    <div class="add-to-links">
                      <ul>
                        <li style = "padding-bottom:10px;"><a href="#" class="small_icon_color" ><i class="icon-shop"></i></a><a class="small_icon_color" href="#">Compare Prices</a></li>
                        <li> <a href="#" class="small_icon_color" onclick="addToCompareFromListing('{{phoneDetails[i]["_id"]}}');"><i class="icon-chart-bar"></i>Add to Compare</a> </li>
                      </ul>
                    </div>
                </div>
              </div>
          {%endif%}
          {%endfor%}

                <!--Product blockends here-->

            </div>
          </div>
          <div class="listing_header_row1">
            <!-- <div class="pull-left">
              <label>Sort by:</label>
              <div class="select_wrapper width1">
                <select name="select3" class="custom sort-by" tabindex="1">
                  <option value="position">Position</option>
                  <option value="name">Name</option>
                  <option value="price">Price</option>
                  <option value="rating">Rating</option>
                </select>
              </div>
            </div> -->
            <!-- <div class="pull-left aligncenter hidden-phone">
              <label> <span class="hidden-tablet">View as:</span></label>
              <a href="#" class="icon-th view-grid active"></a><a href="#" class="icon-th-list view-list"></a> </div> -->
            <!-- <div class="pull-right alignright">
              <label><span class="hidden-phone">Show:</span></label>
              <div class="select_wrapper width3">
                <select name="select4" class="custom" tabindex="1">
                  <option value="1">9</option>
                  <option value="2">12</option>
                  <option value="3">24</option>
                  <option value="4">48</option>
                </select>
              </div>
              per&nbsp;page</div> -->
          </div>
          <div class="line1"></div>
          <div class="listing_header_row2">
            <div class="pull-left">Items <strong>{{fromItem}}</strong> to <strong>{{toItem}}</strong> of <strong>{{totItem}}</strong> total</div>
            <div class="pull-right">
              <div class="num">
                <!-- , currentURL = currentURL -->
                {%for iter in range(totalPages)%}
                <a href="{{currentURL}}{{iter+1}}">{{iter + 1}}</a>
                {%endfor%}  
                {%if next == 0%}
                  <a class="small_icon"><i class="icon-right-thin"></i></a>
                {%else%}
                  <a href="{{currentURL}}{{next}}" class="small_icon"><i class="icon-right-thin"></i></a>
                {%endif%}
              </div>
            </div>
          </div>
        </div>
        <div class="span3" id="column_left" >
           <!-- ##### -->
         <div class="row">
            <div class="span3">
            <div class="block">
                <div class="block-title"><strong><span>Price</span></strong></div>
                <div class="block-content">
                  <div id="price_slider_wrapper" onclick = "filterOptions(this)">
                    <div id="noUiSlider" class="noUiSlider" onclick = "filterOptions(this)" ></div>
                  </div>
                </div>
              </div>
            <div class="block_listing">
          <div class="block block-layered-nav">
                
          <div class="block-title "><strong><span>Brand</span></strong></div>
           <div class="block-content">
          
          <div class="inner-addon right-addon">
          <i class="glyphicon icon-search-2 icon-small"></i>
          <input name="filter_search_3" type="text" id="filter_search_3" class="widthf" value="Search by Model" onblur="if (this.value == '') {this.value = 'Search by Model';}" onfocus="if(this.value == 'Search by Model') {this.value = '';}" />
          </div>
                    
          <div class="listing-height" >
                     <ul id="filter_model" class="list-group">
                      {%for brand in allBrands%}
                      {%if brand in selectedBrands%}
                       <li><input type="checkbox" id = {{brand}} name = "brand" class="checkbox"  checked="checked" onclick = "filterOptions(this)"/>&nbsp;&nbsp;{{brand}}</li>
                       {%else%}
                       <li><input type="checkbox" id = {{brand}} name = "brand" class="checkbox" onclick = "filterOptions(this)"/>&nbsp;&nbsp;{{brand}}</li>
                       {%endif%}
                       {%endfor%}
             
                      </ul>     
                    </div>
                  </div>
          <hr>
                  <div class="block-title"><strong><span>KEYWORD</span></strong></div>
                  <div class="block-content">
          
          
          <div class="inner-addon right-addon">
          <i class="glyphicon icon-search-2 icon-small"></i>
          <input name="filter_search_2" id="filter_search_2" type="text" class="widthf" value="Search by Keyword" onblur="if (this.value == '') {this.value = 'Search by Keyword';}" onfocus="if(this.value == 'Search by Keyword') {this.value = '';}"/>
          </div>
          
                   <div class="listing-height">
                     <ul id="filter_keyword" class="list_group">
                      {%for keyword in allKeywords%}
                      {%if keyword in selectedKeywords%}
                       <li><input type="checkbox" id= {{keyword}} name = "keyword" class="checkbox" checked=checked onclick = "filterOptions(this)"/>&nbsp;&nbsp;{{keyword}}</li>
                       {%else%}
                       <li><input type="checkbox" id= {{keyword}} name = "keyword" class="checkbox" onclick = "filterOptions(this)"/>&nbsp;&nbsp;{{keyword}}</li>
                       {%endif%}
                       {%endfor%}
                          
            
                     </ul>     
                    </div>
                  </div>
                </div>
              </div>
             
              
              
              
            </div>
            <!-- <div class="span3">
              <div class="banners_outer">
                <div class="flexslider banners">
                  <ul class="slides">
                    <li> <a href="product.html"><img src="img/banner1.jpg" alt="" ></a> </li>
                    <li> <a href="product.html"><img src="img/banner2.jpg" alt="" ></a> </li>
                    <li> <a href="product.html"><img src="img/banner3.jpg" alt="" ></a> </li>
                  </ul>
                </div>
              </div>
            </div> -->
          </div>
           <!-- ##### -->
        </div>
      </div>
    </div>
  </section>
  <div id="push"></div>
</div>

{% endblock %}
