    {% extends "header.html" %}
    {% block content %}
<section id="content">
    <div class="container top">
      <div class="row">
        <div class="span9" id="column_right">
          
          <div class="listing_header_row1">
            
            <div class=" aligncenter hidden-phone">
              <label> <span class="hidden-tablet">View as:</span></label>
              <a href="#" class="icon-th view-grid active"></a><a href="#" class="icon-th-list view-list"></a> </div>
            
          </div>
          <div class="line1"></div>
          <div class="listing_header_row2">
            <div class="pull-left">Items <strong>{{fromItem}}</strong> to <strong>{{toItem}}</strong> of <strong>{{totItem}}</strong> total</div>
            <div class="pull-right">
              <div class="num">
                <!-- , currentURL = currentURL -->
                {%for iter in range(totalPages)%}
                <a href="{{currentURL}}{{iter+1}}">{{iter + 1}}</a>
                {%endfor%}
                {%if next == 0%}
                  <a  class="small_icon"><i class="icon-right-thin"></i></a>
                {%else%}
                  <a href="{{currentURL}}{{next}}" class="small_icon"><i class="icon-right-thin"></i></a>
                {%endif%}
              </div>
            </div>
          </div>
          <h3>Listing...</h3>
		  
          <div class="product-listing product-grid" style="height:relative">
            <div class="row big_with_description isotope-outer" style=" position: relative; height: relative;">

          {%for i in range(phoneDetails|length)%}
            {%if phoneDetails[i] is defined %}
                  <!-- One Product Block Starts-->
                  {%set counter = 0 %}
                  {%set lowestPrice = [1000000] %}
                  {% set lowestWebsite = ["Out of Stock"] %}
                  {% set lowestWebsiteURL = ["#"] %}
                  {% for price in phoneDetails[i]["Prices"] %}
                  {%set counter = counter + 1%}
                  {%if price["price"]|int < lowestPrice[0] %}
                      <!-- {%if price["stock status"]|int > 0 %} -->
                      {% set _ = lowestPrice.append(price["price"]) %}
                      {% set _ = lowestWebsite.append(price["website"]|string) %}
                      {% set _ = lowestWebsiteURL.append( price["productUrl"]|string) %}
                      {% set _ = lowestPrice.pop(0) %}
                      {% set _ = lowestWebsite.pop(0) %}
                      {% set _ = lowestWebsiteURL.pop(0) %}
                      <!-- {%endif%} -->
                  {%endif%}
                  {%endfor%}
              
              <div class="span3 product hover " style= "border-radius:0px; box-shadow: 0 0 0">
                <div class="product-image-wrapper " style= "border-radius:0px; height: 201px"><a href='../pdp/{{phoneDetails[i]["_id"]}}'><img src="static/img/ImageScrappers/{{phoneDetails[i]["Brand"]}} {{phoneDetails[i]["Model Name"]}}.jpg" style="height:100%" alt=""><img src="static/img/product_page_img_big1.jpg" class="roll_over_img" alt=""></a> </div>
                <div class="wrapper-hover">
                  <div class="product-name aligncenter" style="height:33px"><a href='../pdp/{{phoneDetails[i]["_id"]}}'>{{phoneDetails[i]["Brand"]}} {{phoneDetails[i]["Model Name"]}}</a></div>
                  <div class="wrapper"><span class="sort-rating hidden">4</span>
                    <!--<div class="product-tocart"> <a href="shopping-cart.html"><i class="icon-basket"></i></a> </div>-->
                        <div class="product-price aligncenter" style = "padding-bottom:10px">
                            {%if lowestWebsite[0] == "Out of Stock"  %}
                            <a class="aligncenter"  href="#" style="color: #B40404">Out of Stock</a>
                            {% else %}
                            <a class="aligncenter"  href="{{lowestWebsiteURL[0]}}">Lowest Price&nbsp;₹&nbsp{{lowestPrice[0]}}</a>
                            {%endif%}
                        </div>
                    <div class="rating-listing rating"> <strong><a><i class="icon-star-1"></i></a><a><i class="icon-star-1"></i></a><a><i class="icon-star-1"></i></a><a><i class="icon-star-1"></i></a></strong><a><i class="icon-star-empty"></i></a> </div>
                  </div>
                    <div class="skillbar clearfix " data-percent={{scoreList[i]}}%>
                    <div class="skillbar-title" style="background: #3b5998; width:22%;"><span style="color: #FFFFFF">{{scoreList[i]}}/100</span></div>
                    <div class="skillbar-bar" style="background: #8b9dc3;"></div>
                    <div class="skill-bar-percent"></div>
                  </div>
                    <div class="add-to-links">
                      <ul>
                        <li style = "padding-bottom:10px;"><a href="#" class="small_icon_color" ><i class="icon-shop"></i></a>
                          <a class="small_icon_color" data-toggle="modal" onclick="location.href='#';" href="#compare_price{{i}}">Compare Prices</a></li>
                        <li> <a href="#" class="small_icon_color" onclick="addToCompareFromListing('{{phoneDetails[i]["_id"]}}');"><i class="icon-chart-bar"></i>Add to Compare</a> </li>
                      </ul>
                    </div>
                </div>
              </div>

              
          {%endif%}
          {%endfor%}

                <!--Product blockends here-->

            </div>
          </div>


          <div class="listing_header_row1">
            
          </div>
          <div class="line1"></div>
          <div class="listing_header_row2">
            <div class="pull-left">Items <strong>{{fromItem}}</strong> to <strong>{{toItem}}</strong> of <strong>{{totItem}}</strong> total</div>
            <div class="pull-right">
              <div class="num">
                <!-- , currentURL = currentURL -->
                {%for iter in range(totalPages)%}
                <a href="{{currentURL}}{{iter+1}}">{{iter + 1}}</a>
                {%endfor%}  
                {%if next == 0%}
                  <a class="small_icon"><i class="icon-right-thin"></i></a>
                {%else%}
                  <a href="{{currentURL}}{{next}}" class="small_icon"><i class="icon-right-thin"></i></a>
                {%endif%}
              </div>
            </div>
          </div>
        </div>

        <!-- Left Filter Block-->
        <div class="span3" id="column_left" >
           <!-- ##### -->
         <div class="row">
            <div class="span3">
            <div class="block">
                <div class="block-title"><strong><span>Price</span></strong></div>
                <dl id="narrow-by-list">
                      <dd class="even">
                        <ol><font size="12">
                          <li><a onclick = "filterOptions(this,300,5000)" style="font-size:15px; color:#303030">₹300.00 - ₹5,000.00 </a></li>
                          <li><a onclick = "filterOptions(this,5001,15000)" style="font-size:15px; color:#303030">₹5,001.00 - ₹15,000.00</a></li>
                          <li><a onclick = "filterOptions(this,15001,25000)" style="font-size:15px; color:#303030">₹15,001.00 - ₹25,000.00</a></li>
                          <li><a onclick = "filterOptions(this,25001,35000)" style="font-size:15px; color:#303030">₹25,001.00 - ₹35,000.00</a></li>
                          <li><a onclick = "filterOptions(this,35001,55000)" style="font-size:15px; color:#303030">₹35,001.00 - ₹55,000.00</a></li>
                          <li><a onclick = "filterOptions(this,55001,75000)" style="font-size:15px; color:#303030">₹55,001.00 - ₹75,000.00</a></li>
                          </font>
                        </ol>
                      </dd> 
                <!-- <div class="block-content">
                  <div id="price_slider_wrapper" onclick = "filterOptions(this)">
                    <div id="noUiSlider" class="noUiSlider" onclick = "filterOptions(this)" ></div>
                  </div>
                </div> -->
              </div>
            <div class="block_listing">
          <div class="block block-layered-nav">
                
          <div class="block-title "><strong><span>Brand</span></strong></div>
           <div class="block-content">
          
          <div class="inner-addon right-addon">
          <i class="glyphicon icon-search-2 icon-small"></i>
          <input name="filter_search_3" type="text" id="filter_search_3" class="widthf" value="Search by Model" onblur="if (this.value == '') {this.value = 'Search by Model';}" onfocus="if(this.value == 'Search by Model') {this.value = '';}" />
          </div>
                    
          <div class="listing-height" >
                     <ul id="filter_model" class="list-group">
                      {%for brand in allBrands%}
                      {%if brand in selectedBrands%}
                       <li><input type="checkbox" id = {{brand}} name = "brand" class="checkbox"  checked="checked" onclick = "filterOptions(this)"/>&nbsp;&nbsp;{{brand}}</li>
                       {%else%}
                       <li><input type="checkbox" id = {{brand}} name = "brand" class="checkbox" onclick = "filterOptions(this)"/>&nbsp;&nbsp;{{brand}}</li>
                       {%endif%}
                       {%endfor%}
             
                      </ul>     
                    </div>
                  </div>
          <hr>
                  <div class="block-title"><strong><span>KEYWORD</span></strong></div>
                  <div class="block-content">
          
          
          <div class="inner-addon right-addon">
          <i class="glyphicon icon-search-2 icon-small"></i>
          <input name="filter_search_2" id="filter_search_2" type="text" class="widthf" value="Search by Keyword" onblur="if (this.value == '') {this.value = 'Search by Keyword';}" onfocus="if(this.value == 'Search by Keyword') {this.value = '';}"/>
          </div>
          
                   <div class="listing-height">
                     <ul id="filter_keyword" class="list_group">
                      {%for keyword in allKeywords%}
                      {%if keyword in selectedKeywords%}
                       <li><input type="checkbox" id= "{{keyword}}" name = "keyword" class="checkbox" checked=checked onclick = "filterOptions(this)"/>&nbsp;&nbsp;{{keyword}}</li>
                       {%else%}
                       <li><input type="checkbox" id= "{{keyword}}" name = "keyword" class="checkbox" onclick = "filterOptions(this)"/>&nbsp;&nbsp;{{keyword}}</li>
                       {%endif%}
                       {%endfor%}
                          
            
                     </ul>     
                    </div>
                  </div>
                </div>
              </div>
             
              
              
              
            </div>
            <!-- <div class="span3">
              <div class="banners_outer">
                <div class="flexslider banners">
                  <ul class="slides">
                    <li> <a href="product.html"><img src="img/banner1.jpg" alt="" ></a> </li>
                    <li> <a href="product.html"><img src="img/banner2.jpg" alt="" ></a> </li>
                    <li> <a href="product.html"><img src="img/banner3.jpg" alt="" ></a> </li>
                  </ul>
                </div>
              </div>
            </div> -->
          </div>
           <!-- ##### -->
        </div>
        <!-- Left Filter Block-->
      </div>
    </div>
  </section>
  <div id="push"></div>
</div>
    

    {%for i in range(phoneDetails|length)%}
    <!--Compare prices Pop Up -->
     <div class="modal fade" id="compare_price{{i}}">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title" style="color:#AAAAAA"><center>Compare Prices for {{phoneDetails[i]['Brand']}} {{phoneDetails[i]['Model Name']}}</center></h4>
                </div>
                <div class="modal-body">
      <table class="table">
      <colgroup>
      <col class="colfixw25">
      <col class="colfixw25">
      <col class="colfixw20">
      <col class="colfixw10">
      <col class="colfixw20">
      </colgroup>
            <thead>
              <tr>
                <!--<td scope="col" class="aligncenter backgrey font_table_fix ">Product Name </td>-->
                <td scope="col" class="aligncenter backgrey font_table_fix">Seller</td>
                <td scope="col" class="aligncenter backgrey font_table_fix">Availability</td>
                <td scope="col" class="aligncenter backgrey font_table_fix">Price</td>
        <td scope="col" class="aligncenter backgrey font_table_fix">Buy Option</td>
              </tr>
            </thead>
            <tbody>
                {% for price in phoneDetails[i]["Prices"] %}
                    <tr>
                        <!--<td class="aligncenter 0_margin"><h5>Xiaomi</td>-->
                        <td class="aligncenter 0_margin"><img src="/static/img/{{price['website']}}.jpg"  alt={{price['website']}} height="25px" width="100px"> </td>
                        <td class="aligncenter 0_margin"><h5>Yes</h5></td>
                        <td class="aligncenter 0_margin"><h5>{{price["price"]}}</h5></td>
                        <td class="aligncenter 0_margin"><a href={{price['productUrl']}}  class="btn btn-mini">BUY</a></td>
                    </tr>
                {%endfor%}


            </tbody>
          </table>
        </div>

              </div>
            </div>
          </div>

          <!--Compare prices Pop Up -->
          {%endfor%}

{% endblock %}
