{% extends "header.html" %}
  {% block content %}
<link href="{{ url_for('static', filename='css/jquery.circliful.css')}}" rel="stylesheet" type="text/css">
<script src="{{ url_for('static', filename='js/jquery.circliful.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.circliful.min.js')}}"></script>
<script>
$( document ).ready(function() {
        $('div[id^=myStat]').circliful();
    });
</script>
  <div class = "phone details" style="display: none;"><div class="PhoneObjectID">{{phoneDetails["_id"]}}</div></div>
  <section id="content">
    <div class="container top">
      <div class="content_top">
        <div class="wrapper_w">
          <div class="pull-left">
            <div class="breadcrumbs"><a href="/">Home</a> <span>&#8250;</span> <a href="/search?pricerange=0,50000&brands={{phoneDetails.Brand}}">{{phoneDetails.Brand}}</a> <span>&#8250;</span> <a href="#">{{phoneDetails.Brand}} {{phoneDetails["Model Name"]}}</a></div>
          </div><!-- 
          <div class="pull-right">
            
          </div> -->
        </div>
      </div>
      <div class="product-box" itemscope itemtype="http://schema.org/Product">
        <div class="row">
          <div class="span2">
            <div class="product-img-box noselect">
              <div class="row">
                <div class="span2">
                  <div id="zoom-big-image" class="elevate-zoom"> <img style = "width:auto;height:201px" src="/static/img/ImageScrappers/{{phoneDetails["Brand"]}} {{phoneDetails["Model Name"]}}.jpg"  alt="" data-zoom-image="img/product_page_img_big1_zoom.jpg" class="elevatezoom" /></div>
                  <!-- <div class="flip-container1" ontouchstart="this.classList.toggle('hover');" style = "height:220px; width:110px;">
                    <div class="flipper">
                       <div class="front">
                           <div id="zoom-big-image" class="elevate-zoom"> <img style = "width:auto;height:201px" src="/static/img/ImageScrappers/{{phoneDetails["Brand"]}} {{phoneDetails["Model Name"]}}.jpg"  alt="" data-zoom-image="img/product_page_img_big1_zoom.jpg" class="elevatezoom" /></div>
                        </div>
                    <div class="back">
                         <div id="zoom-big-image" class="elevate-zoom"> <img src={{ url_for('static', filename='img/product_page_img_big1-Recovered_Back.jpg')}}  alt="" data-zoom-image="img/product_page_img_big1_zoom.jpg" class="elevatezoom" /></div>
                    </div>
                   </div>
                  </div> -->
                  
                </div>
              </div>
            </div>
          </div>
          <div class="span7">
            <div class="product-CSS">
              <div class="product_info">
                <div class="product-name" style="margin-left:30px">
                  <h3>
                    <div itemprop="name" style="color:#2E2E2E">{{phoneDetails.Brand}} {{phoneDetails["Model Name"]}} </span></h3>
                  <div class="star-ratings-css" style="unicode-bidi: bidi-override; color: #c5c5c5; font-size: 25px; height: 5px; width: 100px; margin: 0 auto; position: absolute; padding: 0; text-shadow: 0px 1px 0 #a2a2a2;">

                  <div title = "{{phoneDetails.star/20}} rating" class="star-ratings-css-top" style="width: {{phoneDetails.star + 10}}% ; color: #e7711b; padding: 0; text-shadow: 0px 1px 0 #ab5414; position: absolute; z-index: 1; display:block; left: 0px; overflow: hidden;">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>

                  <div class="star-ratings-css-bottom" style="z-index: 0"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>

                  </div>
                
              </div>
                <div class="short-description">
                <span class="row">
                <div class="span3"><p>
                  <ul class="styled-list circle">
                    {%for specs in phoneDetails["specification"]%}
                      {%if specs["GENERAL FEATURES"]%}
                          {%if specs["GENERAL FEATURES"]["SIM Type"]%}
                              <li style="color:#585858"><b>SIM Type</b>: {{specs["GENERAL FEATURES"]["SIM Type"]}}</li>
                              {%endif%}
                              {%if specs["GENERAL FEATURES"]["Touch Screen"]%}
                              <li style="color:#585858"><b>Touch Screen</b>: {{specs["GENERAL FEATURES"]["Touch Screen"]}}</li>
                              {%endif%}
                    {% endif %}
                    {%if specs["Memory and Storage"]%}
                        {%if specs["Memory and Storage"]["Memory"]%}
                        <li style="color:#585858"><b>Memory</b>: {{specs["Memory and Storage"]["Memory"]}}</li>
                        {%endif%}
                        {%if specs["Memory and Storage"]["Internal"]%}
                        <li style="color:#585858"><b>Internal Memory</b>: {{specs["Memory and Storage"]["Internal"]}}</li>
                        {%endif%}
                    {%endif%}

               {% endfor %}
                  </ul>
               </p></div>
               <div class="span3"><p>
                  <ul class="styled-list circle">
               {% for specs in phoneDetails["specification"] %}
                    {%if specs["Camera"]%}
                        {%if specs["Camera"]["Front Facing Camera"]%}
                        <li style="color:#585858"><b>Front Camera</b>: {{specs["Camera"]["Front Facing Camera"]}}</li>
                        {%endif%}
                        {%if specs["Camera"]["Rear Camera"]%}
                        <li style="color:#585858"><b>Rear Camera</b>: {{specs["Camera"]["Rear Camera"]}}</li>
                        {%endif%}
                    {%endif%}
                    {%if specs["Platform"]%}
                        {%if specs["Platform"]["Processor"]%}
                        <li style="color:#585858"><b>Processor</b>: {{specs["Platform"]["Processor"]}}</li>
                        {%endif%}
                    {%endif%}
                    {%if specs["Dimensions"]%}
                        {%if specs["Dimensions"]["Size"]%}
                        <li style="color:#585858"><b>Size</b>: {{specs["Dimensions"]["Size"]}}</li>
                        {%endif%}
                    {%endif%}
               {% endfor %}
             </ul>
           </p></div>
         </span>
                  {%set counter = 0 %}
                  {%set lowestPrice = [1000000] %}
                  {% set lowestWebsite = ["Out of Stock"] %}
                  {% set lowestWebsiteURL = ["#"] %}
                 {% for price in phoneDetails["Prices"] %}

                 {%set counter = counter + 1%}
                 <!-- {% if 'amazon' in price["website"] %}
                        {{price["stock status"]|int}}
                        {{price["website"]}}
                    {%endif%} -->
                  {%if price["price"]|int < lowestPrice[0] %}
                    {%if price["stock status"]|int > 0 %}

                      {% set _ = lowestPrice.append(price["price"]) %}
                      {% set _ = lowestWebsite.append(price["website"]|string) %}
                      {% set _ = lowestWebsiteURL.append( price["productUrl"]|string) %}
                      {% set _ = lowestPrice.pop(0) %}
                      {% set _ = lowestWebsite.pop(0) %}
                      {% set _ = lowestWebsiteURL.pop(0) %}                    
                    {%endif%}
                  {%endif%}
                {%endfor%}

                
                  
                  
                    <div class="row" style="margin-left:10px;">
                      <div class="span3">
                  {%if lowestWebsite[0] == "Out of Stock"  %}
                    <h4><div style="color: #B40404">{{"Not Available in our search"}}</div></h4>
                      {% else %}
                    <h4  itemprop="price"> Lowest Price: ₹&nbsp {{lowestPrice[0]}} &nbsp&nbsp 
                      <a href={{lowestWebsiteURL[0]}} target="_blank"><button class="btn-mini border" type="hidden">Buy Now  </button></a>
                    </h4> 
                  {%endif%}
                </div>
                <div class="span3">
                  <button class="btn-mini border" title="Add to Compare" type="button" id ="add_to_compare" style="background-color: ; " ><i class="icon-chart-bar"></i>{{" "}}Add to Compare</button>
                  </div>
                </div>
                
                
                <div class="add-to-links" style="margin-left:7%;">
                  <ul>
                    <li><a href="#" class="small_icon_color"><i class=" icon-mail-1"></i></a><a class= "md-trigger" onclick="location.href='#';" data-toggle="modal" href="#emailMe">Email me when price drops</a></li>
                  </ul>
                </div>
                <!-- <p class="no-rating"> <a href="#">Be the first to review this product</a> </p> -->
              </div>
            </div>
          </div>
        </div>

        <div class="span3">
          <div class="priority low"><span>Best Online Prices</span></div>
          
            
            {% for price in phoneDetails["Prices"] %}
                {%if price["stock status"]|int !=  0%}
                    
                      <div class="task high" >
                        
                        <div  valign="center" style="">

                          <a target="_blank" href={{price['productUrl']}}>
                            <img style="margin-left:4px; margin-right:10px; margin-top:10px; margin-bottom:10px" src="http://c223968.r68.cf1.rackcdn.com/{{price['website']}}_store.png"  alt={{price['website']}} ></img></a>
                            <a target="_blank" href={{price['productUrl']}}> <button class="btn-mini border">{{price["price"]}}</button></a>
                        </div>

                        <div class="aligncenter date" style="padding:0; margin-left:40px;" height:"100">
                          
                        </div>
                     </div>
                   
                    {%endif%}
                {%endfor%}
         
          <!-- <div class="price-table active" style="padding:0px 0px; color:#585858; margin-top:0px; border: 3px solid #e7711b;">
                <div class="price-table-title" style="overflow-y:auto">Best Online Prices</div>
                <table class="table table-hover" style="height:200px; overflow-y:scroll">
                  <tbody>
                {% for price in phoneDetails["Prices"] %}
                {%if price["stock status"]|int !=  0%}
                    <tr style="">
                        
                        <td class="aligncenter"  valign="center" style="padding:0; padding-right:17px; " height:"1000"><a target="_blank" href={{price['productUrl']}}><img style = "margin-top:15%" src="http://c223968.r68.cf1.rackcdn.com/{{price['website']}}_store.png"  alt={{price['website']}} height="90px"></a></img></td>

                        <td class="aligncenter " style="padding:0; margin-left:40px;" height:"100"><a target="_blank" href={{price['productUrl']}}> <button class="btn-mini border">{{price["price"]}}</button></a></td>
                    </tr>
                    {%endif%}
                {%endfor%}
              </tbody>
            </table>
                
                
              </div> -->
        </div>  
      </div>
    </div>
      <hr>
      <!-- <div id="myStat4" data-startdegree="180" data-dimension="250" data-text="35%" data-info="New Clients" data-width="30" data-fontsize="38" data-percent="35" data-fgcolor="#61a9dc" data-bgcolor="#eee"></div> -->

      <!-- sentiment chart list -->
      <div class="span12">
          <h4 class="padding aligncenter" style="color:#fff; width:92%; border:0px solid;background-color:#3b5998; border-radius:5px;">User Experience Details</h4>
          
          <div class="carousel es-carousel-wrapper style1">
            <div class="es-carousel">
              <div class="row small_with_description">
                <div class="product_outer carousel_items">
                  <!-- KeywordBlock -->
                  {%for keywords in phoneDetails["Keywords"]%}
                  
                  {%if keywords["Rating"] >= 2 and keywords["Rating"] < 3%}
                  <div class="span2 product carousel_item">
                    <div class="product-image-wrapper" > 

                      <div id="myStat4" data-startdegree="80" data-dimension="135" data-text="{{keywords["Rating"]}}/5" data-info="" data-width="10" data-fontsize="22" data-percent="{{keywords["Rating"]*20|round|int}}" data-fgcolor="#DBA901" data-bgcolor="#eee"></div>
                      </div>
                    
                    <div class="wrapper-hover">
                      <div class="product-name">
                        <a href="#" style="color:#DBA901;"><b><i>{{keywords["Positive"] + keywords["Negative"] + keywords["Neutral"] + 10}}</b></i> reviews analyzed</a>
                      </div>
                      <div class="wrapper"><span class="sort-rating hidden">10</span>
                        <div class="product-tocart"> <a href="#tab3"><i style="color: #DBA901;" class="{{allKeyWordsIcon[keywords.Keyword]}}"></i></a> </div>
                        <div class="product-price"><span class="sort-price"><h4>{{keywords["Keyword"]}}</h4></span></div>
                      </div>
                    </div>
                  </div>
                  {%elif keywords["Rating"] <2 %} 
                  <div class="span2 product carousel_item">
                    <div class="product-image-wrapper"> 

                      <div id="myStat4" data-startdegree="180" data-dimension="135" data-text="{{keywords["Rating"]}}/5" data-info="" data-width="10" data-fontsize="22" data-percent="{{keywords["Rating"]*20|round|int}}" data-fgcolor="#8A0808" data-bgcolor="#eee"></div>
                      </div>
                    
                    <div class="wrapper-hover">
                      <div class="product-name">
                          <a href="#" style="color:#8A0808;"><b><i>{{keywords["Positive"] + keywords["Negative"] + keywords["Neutral"] + 10}}</b></i> reviews analyzed</a>
                      </div>
                      <div class="wrapper"><span class="sort-rating hidden">10</span>
                        <div class="product-tocart"> <a href="#tab3"><i style="color: #8A0808;" class="{{allKeyWordsIcon[keywords.Keyword]}}"></i></a> </div>
                        <div class="product-price"><span class="sort-price"><h4>{{keywords["Keyword"]}}</h4></span></div>
                      </div>
                    </div>
                  </div>
                  {%elif keywords["Rating"] >= 3 and keywords["Rating"] < 5%}
                  <div class="span2 product carousel_item">
                    <div class="product-image-wrapper"> 

                      <div id="myStat4" data-startdegree="180" data-dimension="135" data-text="{{keywords["Rating"]}}/5" data-info="" data-width="10" data-fontsize="22" data-percent="{{keywords["Rating"]*20|round|int}}" data-fgcolor="#0B3B0B" data-bgcolor="#eee"></div>
                      </div>
                    
                    <div class="wrapper-hover">
                      <div class="product-name ">
                        <a href="#" style="color:#0B3B0B;"><b><i>{{keywords["Positive"] + keywords["Negative"] + keywords["Neutral"] + 10}}</b></i> reviews analyzed</a>
                      </div>
                      <div class="wrapper"><span class="sort-rating hidden">10</span>
                        <div class="product-tocart"> <a href="#tab3"><i style="color: #0B3B0B;" class="{{allKeyWordsIcon[keywords.Keyword]}}"></i></a> </div>
                        <div class="product-price"><span class="sort-price"><h4>{{keywords["Keyword"]}}</h4></span></div>
                      </div>
                    </div>
                  </div>
                  {%else%}
                  <div class="span2 product carousel_item">
                    <div class="product-image-wrapper"> 

                      <div id="myStat4" data-startdegree="180" data-dimension="135" data-text="{{keywords["Rating"]|round|int}}/5" data-info="" data-width="10" data-fontsize="22" data-percent="{{keywords["Rating"]*20|round|int}}" data-fgcolor="#298A08" data-bgcolor="#eee"></div>
                      </div>
                    
                    <div class="wrapper-hover">
                      <div class="product-name">
                          <a href="#" style="color:#298A08;"><b><i>{{keywords["Positive"] + keywords["Negative"] + keywords["Neutral"] + 10}}</b></i> reviews analyzed</a>
                        <!-- {%if keywords["Positive"] + keywords["Negative"] + keywords["Neutral"] == 1 %}
                        <a href="#">{{keywords["Positive"] + keywords["Negative"] + keywords["Neutral"]}} user</a>
                        {%else%}
                        <a href="#">{{keywords["Positive"] + keywords["Negative"] + keywords["Neutral"]}} users</a>
                        {%endif%} -->

                      </div>
                      <div class="wrapper"><span class="sort-rating hidden">10</span>
                        <div class="product-tocart"> <a href="#tab3"><i style="color: #298A08;" class="{{allKeyWordsIcon[keywords.Keyword]}}"></i></a> </div>
                        <div class="product-price"><span class="sort-price"><h4>{{keywords["Keyword"]}}</h4></span></div>
                      </div>
                    </div>
                  </div>
                  {%endif%}

                  {%endfor%}
                  <!-- KeywordBlock -->

                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- sentiment chart list -->

      <hr>
      <div class="row">
        <div class="span12">
          <ul class="nav-tabs contentTab">
            <li ><a href="#tab1" >Specification</a></li>
            <!-- <li class="active"><a href="#tab2">User Experience</a></li> -->
            <li class="active"><a href="#tab3">Pros and Cons</a></li>
          </ul>
          <div class="tab-content" style="height:relative">
            <div class="tab-pane" id="tab1">
              <div class="box-collateral box-description">
                <h3  style="color:#585858">Details</h3>
                
                  {%for specs in phoneDetails["specification"]%}
                    {%for key, value in specs.iteritems()%}
                  <table class="table table-bordered table-striped">
                  <thead>
                    <tr>

                      <th class="aligncenter" scope="col" style="background-color: #FFEFE7">{{key}}</th>
                    </tr>
                  </thead>
                  </table>
                  <table class="table table-striped table-hover">
                     <colgroup>
                        <col class="colfixw1">
                        <col class="colfixw2">
                  </colgroup>

                  {%for kFet, vFet in value.iteritems()%}
                  <tr>
                  <th class="" width="30%">{{kFet}}</td>
                  <td  width="70%">{{vFet}}</td>
                  </tr>

                  {% endfor %}
                  </table>
                

                  {% endfor %}
                  {% endfor %}

                

              </div>
            </div>

            <!-- <div class="tab-pane active" id="tab2">
              <div class="box-collateral box-description">
                <h2>Details</h2>
                {%for keywords in phoneDetails["Keywords"]%}
                  <div class="skillbar clearfix " data-percent={{keywords["Rating"]*20|round|int}}%>
                    <div class="skillbar-title" style="background: #3b5998; width:22%"><span itemprop="aggregateRating"
    itemscope itemtype="http://schema.org/AggregateRating">{{keywords["Keyword"]}}</span></div>
                    <div class="skillbar-bar" style="background: #8b9dc3;"></div>
                    <div class="skill-bar-percent" itemprop="ratingValue">{{keywords["Rating"]*20|round(1, 'floor') }}% junta says positive</div>
                  </div>
                {%endfor%}
              </div>
              
            </div> -->
            <div class="tab-pane active" id="tab3">
              <div class="box-collateral box-description">
                <h3 style="color:#585858">Details</h3>
                
                  {%for reviews in phoneDetails["Reviews"]%}
                  {%if reviews["Positive"]|length + reviews["Positive"]|length > 0 %}
                  <!--Pros And Cons  -->
                  <table class="table table-bordered table-striped ">
                  <thead>
                    <tr>
                      <th class="aligncenter" scope="col" style="background-color: #FFEFE7">{% filter upper %}
                                {{reviews["About"]}}
                                {% endfilter %}
                      </th>
                    </tr>
                  </thead>
                  </table>

                  
                  <div class="span5" style="width: 47%; padding-left: 00%;">

                  <div class="toggle" id="toggle">
                      <div class="accordion-group">
                      <div class="accordion-heading">
                         <a class="accordion-toggle" href="#collapseOnePros{{reviews["About"].split()[0]}}" data-parent="#accordion" data-toggle="collapse">
                          <span class="open">
                          <i class="icon-minus"></i>
                          </span>
                          <span class="closed">
                          <i class="icon-plus"></i>
                          </span>PROS
                          </a>
                      </div>
                      <div id="collapseOnePros{{reviews["About"].split()[0]}}" class="accordion-body in collapse" style="height: auto">
                      <div class="accordion-inner">
                       <ul class="fa-ul dropdown_content phone1" style="z-index: 8; width:100%; align-items:left;">
                        
                        {%for pros in reviews["Positive"]%}
                           <li  class = "phone" style="width:90%;font-size:110%;"><i class="fa-li fa fa-thumbs-o-up" style="color:#044D03"></i>{{pros["Review"]}} ({{pros["Users"]}})</li>
                           {%endfor%}
                        </ul>
                        
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>

                 
                  <div  class="span5" style="width: 47%; padding-right: 00%;align:right;" >

                  <div class="toggle" id="toggle">
                      <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle-Cons " href="#collapseOneCons{{reviews["About"].split()[0]}}" data-parent="#accordion" data-toggle="collapse">
                          <span class="open">
                          <i class="icon-minus"></i>
                          </span>
                          <span class="closed">
                          <i class="icon-plus"></i>
                          </span>CONS
                          </a>
                      </div>
                      <div id="collapseOneCons{{reviews["About"].split()[0]}}" class="accordion-body in collapse" style="height: auto">
                      <div class="accordion-inner"> 
                        <ul class="fa-ul dropdown_content phone1" style="z-index: 8; width:100%; align-items:left;">

                        {%for cons in reviews["Negative"]%} 
                           <li  class = "phone1" style="width:90%;font-size:110%;"><i class="fa-li fa fa-thumbs-down" style="color:#dd4b39"></i>
                            {{cons["Review"]}} ({{cons["Users"]}}) </li>
                        {%endfor%}
                        </ul>
                       </div>
                      </div>
                      </div>
                    </div>
                  </div>
                 
                  <!--Pros And Cons  -->
                  {%endif%}
                  {% endfor %}

                

              </div>
          </div>
            <div class="tab-pane" id="tab4">
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
              <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="push"></div>
</div>

<!--Compare prices Pop Up -->
		 <div class="modal fade" id="compare_price">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title" style="color:#AAAAAA"><center>Compare Prices for {{phoneDetails['Brand']}} {{phoneDetails['Model Name']}}</center></h4>
                </div>
                <div class="modal-body">
			<table class="table">
			<colgroup>
			<col class="colfixw25">
			<col class="colfixw25">
			<col class="colfixw20">
			<col class="colfixw10">
			<col class="colfixw20">
		  </colgroup>
            <thead>
              <tr>
                <!--<td scope="col" class="aligncenter backgrey font_table_fix ">Product Name </td>-->
                <td scope="col" class="aligncenter backgrey font_table_fix">Seller</td>
                <td scope="col" class="aligncenter backgrey font_table_fix">Availability</td>
                <td scope="col" class="aligncenter backgrey font_table_fix">Price</td>
				<td scope="col" class="aligncenter backgrey font_table_fix">Buy Option</td>
              </tr>
            </thead>
            <tbody>
                {% for price in phoneDetails["Prices"] %}
                {%if price["stock status"]|int !=  0%}
                    <tr>
                        <!--<td class="aligncenter 0_margin"><h5>Xiaomi</td>-->
                        <td class="aligncenter 0_margin"><img src="/static/img/{{price['website']}}.jpg"  alt={{price['website']}} height="25px" width="100px"> </td>

                        {%if price["stock status"]|int == 1%}
                        <td class="aligncenter 0_margin"><h5>Yes</h5></td>
                        {%else%}
                        <td class="aligncenter 0_margin"><h5>No</h5></td>
                        {%endif%}
                        <td class="aligncenter 0_margin"><h5>{{price["price"]}}</h5></td>
                        <td class="aligncenter 0_margin"><a target="_blank" href={{price['productUrl']}}  class="btn btn-mini">BUY</a></td>
                    </tr>
                    {%endif%}
                {%endfor%}


            </tbody>
          </table>
				</div>

              </div>
            </div>
          </div>

    <!-- Email me Modal -->
    
    <div class="modal fade" onsubmit="return emailMeWhenAvailable('{{phoneDetails._id}}'); " id="emailMe" style="opacity:.85; width:600px";>
      <div class="md-content">
        <h3 id="productName">{{phoneDetails.Brand}} {{phoneDetails["Model Name"]}}</h3>
         <div class="main clearfix">
          <p class="nl-form">Notify me when price drops below </p>
        <div class="row" style="margin-left:0">
        <div class="span3">
        <form id="nl-form" class="nl-form">
          <p>
           <input id = "emWPrice" type="text" style="height:60%; border:0" value="" placeholder="any price" data-subline="For example: <em>10000</em> or <em>23437</em>"/>
         </p>
         at 
         <p>
           <input id = "emWEmail" type="text" style="border:0" value="" placeholder="id@email.com" data-subline="Go for it buddy"/>
         </p>
          <div class="nl-submit-wrap">
            <button class="nl-submit" type="submit">Submit</button>
          </div>
          
        </form>
      </div>
      <div class="span3" style="width:35%; margin-left:30px" align="right">
        <p class="aligncenter" style="font-size:300%; color:#b14943; font-weight: 300; font-family: Oswald, sans-serif;">Best Prices</p><br>
        <table class="table table-hover" >
        {% for price in phoneDetails["Prices"] %}
                {%if price["stock status"]|int !=  0%}
                    <tr >
                        <!--<td class="aligncenter 0_margin"><h5>Xiaomi</td>-->
                        <td class="aligncenter " style="padding:0; padding-right:17px;" height:"1000"><a target="_blank" href={{price['productUrl']}}><img src="http://c223968.r68.cf1.rackcdn.com/{{price['website']}}_store.png"  alt={{price['website']}} height="90px"></a></img></td>
                        <td class="aligncenter " style="padding:0; margin-left:4px;" height:"100"><a target="_blank" href={{price['productUrl']}}> <button class="btn-mini border">{{price["price"]}}</button></a></td>
                    </tr>
                    {%endif%}
                {%endfor%}
        </table>
      </div>
      </div>
      <div id="submitsuccess" class="nl-form aligncenter" ></div>
      </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/nlform.js')}}"></script>
    <script>
      var nlform = new NLForm( document.getElementById( 'nl-form' ) );
  </script>
    <!-- Email me Modal -->
    

{% endblock %}
